{% extends '::layout-private.html.twig' %}
{% block titleH1 %}
Journal des actions <small>{{ user.email }}</small> <span class="pull-right"><a href="{{ path('admin_user', {'searchTerms': user.email|url_encode }) }}" class="btn btn-sm btn-primary">Retour</a></span>
{% endblock %}
{% block titlePage %}
Journal des actions
{% endblock %}
{% block breadcrumb %}
<li><a href="{{ path('default_index') }}">Accueil</a></li>
<li>Admin</li>
<li><a href="{{ path('admin_user') }}">Utilisateurs</a></li>
<li class="active">Journal des actions - {{ user.email }}</li>
{% endblock %}
{% block body %}
{% if journals|length > 0 %}
<div>
<p><small>{{ 'agfa.hpa_bundle.admin.journal.index'|transchoice(journal_nb_entries_to_keep, {'%journal_nb_month_to_keep%':journal_nb_month_to_keep}) }}</small>
    <span class="pull-right">
        <i class="fa fa-square text-success"></i> actions de l'utilisateur | <i class="fa fa-square text-info"></i> actions du système | <i class="fa fa-square text-warning"></i> actions importantes de l'utilisateur | <i class="fa fa-square text-danger"></i> erreurs
    </span></p>
</div>
<table class="table table-hover table-striped table-condensed">
    <thead>
        <tr>
            <th>Date</th>
            <th class="hidden-xs">Adresse IP</th>
            <th class="hidden-xs">Evénement</th>
            <th>Détails supplémentaires</th>
            <th class="hidden-xs">&nbsp;</th>
        </tr>
    </thead>
    <tbody>
        {% for journal in journals %}
        <tr class="{{ journal.level|lower }}">
            <td>
                {% if journal.createdAt %}
                {{ journal.createdAt|format_datetime(null, locale, timezone) }}
                {% endif %}
            </td>
            <td class="hidden-xs">
                {{ journal.ipAddress }}
            </td>
            <td class="hidden-xs"> {{ ('journal.event.'~journal.type)|trans }}</td>
            <td>
                {{ journal.shortDescription|raw }}
            </td>
            <td class="hidden-xs">
                {% if journal.longDescription %}
                <a href="{{ path('admin_journal_show', { 'user':journal.user.id, 'id': journal.id, 'searchTerms':app.request.get('searchTerms') }) }}" class="btn btn-default btn-xs"><i class="fa fa-arrow-right"></i></a>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% else %}
<div class="alert alert-info">
	Aucune information dans le journal pour le moment.
</div>
{% endif %}
{% endblock %}
