{% extends '::layout-private.html.twig' %}
{% block titlePage %}
Journal des actions
{% endblock %}
{% block breadcrumb %}
<li><a href="{{ path('default_index') }}">Accueil</a></li>
<li>Admin</li>
<li><a href="{{ path('admin_user') }}">Utilisateurs</a></li>
<li><a href="{{ path('admin_journal', {'user':app.request.get('user').id}) }}">Journal des actions - {{ user.email }}</a></li>
<li class="active">Détails</li>
{% endblock %}
{% block body %}
<h1>
    {{ ('journal.event.'~journal.type)|trans }}
</h1>
<div class="row">
    <div class="col-md-6 col-md-push-3">
        <div class="row">
            <div class="col-md-6">
                <p>
                    <strong>Date</strong>
                </p>
                <p>
                    {% if journal.createdAt %}
                    {{ journal.createdAt|format_datetime(null, locale, timezone) }}
                    {% endif %}
                </p>
            </div>
            <div class="col-md-6">
                <p>
                    <strong>Adresse IP</strong>
                </p>
                <p>
                    {{ journal.ipAddress }}
                </p>
            </div>
        </div>
        {% if journal.shortDescription or journal.longDescription %}
        <hr />
        <p>
            <strong>Informations complémentaires</strong>
        </p>
        {% endif %}
        {% if journal.shortDescription %}
        <p>
            {{ journal.shortDescription }}
        </p>
        {% endif %}
        {% if journal.longDescription|length > 0 %}
        <div class="well well-default">
            {% if journal.longDescription.api_query is defined %}
            <p>Requète de l'API</p>
            <ul>
                <li>Login : {{ journal.longDescription.api_query.patient_login }}</li>
                <li>Mot de passe : {{ journal.longDescription.api_query.patient_password }}</li>
            </ul>
            {% endif %}
            {% if journal.longDescription.api_response is defined %}
            <p>Réponse de l'API</p>
            <ul>
                <li>Identifiant de la structure : {{ journal.longDescription.api_response.identifiant_structure }}</li>
                <li>Identifiant du patient : {{ journal.longDescription.api_response.identifiant_patient }}</li>
                <li>Numéro de la demande : {{ journal.longDescription.api_response.numero_demande }}</li>
            </ul>
            {% endif %}
            {% if journal.longDescription.demande is defined %}
            <p>Compte rendu</p>
            <ul>
                {% if journal.longDescription.demande.patient is defined %}<li>Compte rendu assigné au patient : {{ journal.longDescription.demande.patient }}</li>{% endif %}
                {% if journal.longDescription.demande.bsrvr_constant_login is defined %}<li>Contant login : {{ journal.longDescription.demande.bsrvr_constant_login }}</li>{% endif %}
                {% if journal.longDescription.demande.affichage_cr is defined %}<li>Affichage CR : {{ journal.longDescription.demande.affichage_cr|raw }}</li>{% endif %}
                {% if journal.longDescription.demande.solde_patient is defined %}<li>Solde patient : {{ journal.longDescription.demande.solde_patient|raw }}</li>{% endif %}
                {% if journal.longDescription.demande.source_paiement is defined %}<li>Source du paiement : {{ journal.longDescription.demande.source_paiement|raw }}</li>{% endif %}
            </ul>
            {% endif %}
            {% if journal.longDescription.user_agent is defined %}
            <p>Environnement de l'utilisateur</p>
            <ul>
                <li>Logiciel : {{ journal.longDescription.user_agent.software }}</li>
                <li>Matériel : {{ journal.longDescription.user_agent.hardware }}</li>
            </ul>
            {% endif %}
            {% if journal.longDescription.payment_request is defined %}
            <p>Détails de la demande</p>
            <h3>Transaction</h3>
            <table class="table table-hover table-condensed">
                <tbody>
                    <tr>
                        <td width="40%">Date</td>
                        <td width="60%">
                            {{ journal.longDescription.payment_request.date|format_datetime(null, locale, timezone) }}
                        </td>
                    </tr>
                    <tr>
                        <td>Référence</td>
                        <td>
                            {{ journal.longDescription.payment_request.reference }}
                        </td>
                    </tr>
                    <tr>
                        <td>Montant</td>
                        <td>
                            {{ journal.longDescription.payment_request.montant }}
                        </td>
                    </tr>
                    <tr>
                        <td>Text libre</td>
                        <td>
                            {{ journal.longDescription.payment_request.texte_libre }}
                        </td>
                    </tr>
                </tbody>
            </table>
            <h3>Client</h3>
            <table class="table table-hover table-condensed">
                <tbody>
                    <tr>
                        <td width="40%">TPE :</td>
                        <td width="60%">
                            {{ journal.longDescription.payment_request.tpe }}
                        </td>
                    </tr>
                    <tr>
                        <td>Société</td>
                        <td>
                            {{ journal.longDescription.payment_request.societe }}
                        </td>
                    </tr>
                    <tr>
                        <td>Email</td>
                        <td>
                            {{ journal.longDescription.payment_request.email }}
                        </td>
                    </tr>
                </tbody>
            </table>
            <h3>Debug</h3>
            <table class="table table-hover table-condensed">
                <tbody>
                    <tr>
                        <td width="40%">Version API Monetico</td>
                        <td width="60%">
                            {{ journal.longDescription.payment_request.version }}
                        </td>
                    </tr>
                    <tr>
                        <td>Langue</td>
                        <td>
                            {{ journal.longDescription.payment_request.lgue }}
                        </td>
                    </tr>
                </tbody>
            </table>
            {% endif %}            
            {% if journal.longDescription.payment_response is defined %}
            <p>Détails de la demande</p>
            <h3>Transaction</h3>
            <table class="table table-hover table-condensed">
                <tbody>
                    <tr>
                        <td>Référence</td>
                        <td>
                            {{ journal.longDescription.payment_response.reference }}
                        </td>
                    </tr>
                    <tr>
                        <td width="40%">Date</td>
                        <td width="60%">
                            {{ journal.longDescription.payment_response.date }}
                        </td>
                    </tr>
                    <tr>
                        <td>Montant</td>
                        <td>
                            {{ journal.longDescription.payment_response.montant }}
                        </td>
                    </tr>
                    <tr>
                        <td>Texte libre</td>
                        <td>
                            {{ journal.longDescription.payment_response.texte_libre }}
                        </td>
                    </tr>
                    <tr>
                        <td>Informations complémentaires</td>
                        <td>
                        <table class="table table-striped table-hover table-bordered">
                        	<tbody>
                        		<tr>
                        			<td>Code retour</td>
                        			<td>{{ journal.longDescription.payment_response.code_retour }}</td>
                        		</tr>
                        		<tr>
                        			<td>IP du client</td>
                        			<td>{{ journal.longDescription.payment_response.ip_client }}</td>
                        		</tr>
                        		<tr>
                        			<td>Motif de refus</td>
                        			<td>{{ journal.longDescription.payment_response.motif_refus }}</td>
                        		</tr>
                        		<tr>
                        			<td>CVX</td>
                        			<td>{{ journal.longDescription.payment_response.cvx }}</td>
                        		</tr>
                        		<tr>
                        			<td>Code de validation (VLD)</td>
                        			<td>{{ journal.longDescription.payment_response.vld }}</td>
                        		</tr>
                        		<tr>
                        			<td>Brand</td>
                        			<td>{{ journal.longDescription.payment_response.brand }}</td>
                        		</tr>
                        		<tr>
                        			<td>Status 3ds</td>
                        			<td>{{ journal.longDescription.payment_response.status3ds }}</td>
                        		</tr>
                        		<tr>
                        			<td>Num. auto</td>
                        			<td>{{ journal.longDescription.payment_response.num_auto }}</td>
                        		</tr>
                        		<tr>
                        			<td>Origine CB</td>
                        			<td>{{ journal.longDescription.payment_response.origine_cb }}</td>
                        		</tr>
                        		<tr>
                        			<td>Origine transaction</td>
                        			<td>{{ journal.longDescription.payment_response.origine_tr }}</td>
                        		</tr>
                        		<tr>
                        			<td>Veres</td>
                        			<td>{{ journal.longDescription.payment_response.veres }}</td>
                        		</tr>
                        		<tr>
                        			<td>Pares</td>
                        			<td>{{ journal.longDescription.payment_response.pares }}</td>
                        		</tr>
                        		<tr>
                        			<td>Mode paiement</td>
                        			<td>{{ journal.longDescription.payment_response.mode_paiement }}</td>
                        		</tr>
                        		<tr>
                        			<td>Filtrage de la cause</td>
                        			<td>{{ journal.longDescription.payment_response.filtrage_cause }}</td>
                        		</tr>
                        		<tr>
                        			<td>Filtrage de la valeur</td>
                        			<td>{{ journal.longDescription.payment_response.filtrage_valeur }}</td>
                        		</tr>
                        	</tbody>
                        </table>
                        </td>
                    </tr>
                </tbody>
            </table>
            {% endif %}
        </div>
        {% endif %}
        <a href="{{ path('admin_journal', {'user':app.request.get('user').id, 'searchTerms':app.request.get('searchTerms')}) }}" class="btn btn-primary pull-right">Retour</a>
    </div>
</div>
{% endblock %}
