{% extends '::layout-private.html.twig' %}
{% block titleH1 %}
Comptes rendus <small>{{ user.email }}</small> <span class="pull-right"><a href="{{ path('admin_user', {'searchTerms': user.email|url_encode }) }}" class="btn btn-sm btn-primary">Retour</a></span>
{% endblock %}
{% block titlePage %}
Comptes rendus
{% endblock %}
{% block breadcrumb %}
<li><a href="{{ path('default_index') }}">Accueil</a></li>
<li>Admin</li>
<li><a href="{{ path('admin_user') }}">Utilisateurs</a></li>
<li class="active">Comptes rendus - {{ user.email }}</li>
{% endblock %}
{% block body %}
{% if demandes|length > 0 %}
{# <div class="well">#}
{# 	<p>Un marquage manuel d'un paiement effectué pour un compte rendu n'occasionne aucun envoi de courriel (patient et/ou laboratoire) et les données ne sont pas mises à jour sur Bioserveur.</p>#}
{# </div>#}
<div class="row">
	<div class="col-md-12">
        <p class="text-right">Paiement en ligne : 
            <i class="fa fa-play text-success"></i> activé |
            <i class="fa fa-pause text-warning"></i> désactivé |
            <i class="fa fa-stop text-danger"></i> indisponible
        </p>

	</div>
</div>
<table class="table table-striped table-hover table-condensed table-responsive">
	<thead>
		<tr>
			<th class="hidden-xs">Nodem</th>
			<th>Date prélèvement</th>
            <th class="hidden-xs">Prescripteur</th>
            <th class="hidden-xs">Labo</th>
            <th class="hidden-xs">Etat</th>
			<th class="text-center">Reste dû</th>
			<th>&nbsp;</th>
		</tr>
	</thead>
	<tbody>
        {% for demande in demandes %}
		<tr>
			<td class="hidden-xs">{{ demande.nodem }}</td>
			<td>{{ demande.datePrelevement|format_datetime(null, locale, timezone) }}</td>
            <td class="hidden-xs">{{ demande.nomPrescripteur }}</td>
            <td class="hidden-xs">{{ demande.etablissement }}</td>
            <td class="hidden-xs">{{ demande.paieSource|formatPaieSource }}</td>
			<td class="text-right">{{ demande.paieSolde|number_format_currency(currency) }}</td>
			<td class="text-center">
{#                 {% if demande.paieSolde > 0 and demande.etablissement.paiement.actif and demande.etablissement.paiement.affichageCr == false %}#}
{#                 {{ form_start(markAsPaidForms[demande.id]) }}#}
{#                 <button class="btn btn-xs btn-default"><i class="fa fa-check"></i> Marquer payé</button>#}
{#                 {{ form_end(markAsPaidForms[demande.id]) }}#}
{#                 {% endif %}#}
                {% if not demande.etablissement.paiement %}
                <i class="fa fa-stop text-danger" data-toggle="tooltip" title="Paiement en ligne indisponible pour ce laboratoire."></i>                
                {% elseif demande.etablissement.paiement and not demande.etablissement.paiement.actif %}
                <i class="fa fa-pause text-warning" data-toggle="tooltip" title="Paiement en ligne désactivé par le laboratoire."></i>
                {% else %}
                <i class="fa fa-play text-success" data-toggle="tooltip" title="Paiement en ligne activé par le laboratoire."></i>
                {% endif %}
            </td>
		</tr>
        {% endfor %}
	</tbody>
</table>
{% else %}
<div class="alert alert-info">
	Aucun compte rendu disponible pour le moment.
</div>
{% endif %}
{% endblock body %}