{% extends '::layout-private.html.twig' %}
{% block titleH1 %}
Recherche d'un compte rendu
{% if demande %}
<small>{{ demande.nodemx }}</small>
{% endif %}
{% endblock %}
{% block titlePage %}
Recherche d'un comptes rendus
{% endblock %}
{% block breadcrumb %}
<li><a href="{{ path('default_index') }}">Accueil</a></li>
<li>Admin</li>
<li class="active">Recherche d'un compte rendu</li>
{% endblock %}
{% block body %}
<div class="row">
    <div class="col-md-8 col-md-push-2 text-right">
        {{ form_start(form, {'attr':{'class':'form-inline', 'novalidate':'novalidate'}}) }}
        {{ form_label(form.nodemx) }}
        {{ form_widget(form.nodemx) }}
        <button class="btn btn-primary" type="submit">Chercher ce compte rendu</button>
        {{ form_end(form) }}
    </div>
</div>
<br />
{% if demande %}
<div class="row">
    <div class="col-md-4 col-md-push-2">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Utilisateur</h3>
            </div>
            <div class="panel-body">
                <p>
                    <strong><a href="{{ path('admin_user') }}?searchTerms={{ demande.patient.user|url_encode }}">{{ demande.patient.user }}</a></strong>
                </p>
                <ul>
                    <li>Compte créé le {{ demande.patient.user.createdAt|format_datetime(null, locale, timezone) }}</li>
                    <li>Dernière connection : {{ demande.patient.user.lastLogin|format_datetime(null, locale, timezone) }}</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-md-4 col-md-push-2">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Patient</h3>
            </div>
            <div class="panel-body">
                <strong>{{ demande.patient }}</strong>
                <p>
                    Né le
                    {{ demande.patient.dateNaissance|format_date(null, locale, timezone) }}
                </p>
                <ul>
                    <li>Numéro de patient : {{ demande.patient.bsrvrNopat }}</li>
                </ul>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Demande</h3>
            </div>
            <div class="panel-body">
                <ul>
                    <li>Reçu sur HPA le {{ demande.createdAt|format_datetime(null, locale, timezone) }}</li>
                    <li>Etablissement : {{ demande.etablissement }} ({{ demande.etablissement.bsrvrCodeLabo }})
                    </li>
                    <li>Prescripteur : {{ demande.nomPrescripteur }}</li>
                </ul>
            </div>
        </div>
    </div>
</div>
{% if relatedDemandes|length > 0 %}
<hr />
<br />
<div class="row">
    <div class="col-md-8 col-md-push-2">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">{{ relatedDemandes|length }} autres demandes sont présentes sur ce compte</h3>
            </div>
            <div class="panel-body">
                <table class="table table-striped table-hover table-bordered table-condensed table-responsive">
                    <thead>
                        <tr>
                            <th>Patient</th>
                            <th>Identifiant Hexalis Patient</th>
                            <th>Date accueil</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for relatedDemande in relatedDemandes %}
                        <tr>
                            <td>
                                {{ relatedDemande.patient }}
                            </td>
                            <td>
                                {% if relatedDemande.nodemx != '-' %}
                                {{ form_start(relatedDemandesForms[relatedDemande.id]) }}
                                <button type="submit" class="btn-link">
                                    {{ relatedDemande.nodemx }}
                                </button>
                                {{ form_end(relatedDemandesForms[relatedDemande.id]) }}
                                {% else %}
                                N° de demande : {{ relatedDemande.nodem }}
                                {% endif %}
                            </td>
                            <td>
                                {{ relatedDemande.dateAccueil|format_datetime(null, locale, timezone) }}
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endif %}
{% endif %}
{% endblock body %}