{% extends '::layout-private.html.twig' %}
{% block titleH1 %}
Recherche d'un compte rendu
<small>Résultats mutiples</small>
{% endblock %}
{% block titlePage %}
Recherche d'un comptes rendus
{% endblock %}
{% block breadcrumb %}
<li><a href="{{ path('default_index') }}">Accueil</a></li>
<li>Admin</li>
<li><a href="{{ path('admin_demande_search') }}">Recherche d'un compte rendu</a></li>
<li class="active">Résultats mutiples</li>
{% endblock %}
{% block body %}
<div class="row">
    <div class="col-md-4">
        <div class="well well-default">
        <h3>Plusieurs résultats</h3>
        <p>Plusieurs résultats ont été trouvés pour ce numéro de dossier patient. Merci de sélectionner le laboratoire concerné.</p>
        <ul>
            {% for demande in demandes %}
            <li><a href="{{ path('admin_demande_selected', {'nodemx':demande.nodemx, 'laboCode':demande.etablissement.bsrvrCodeLabo}) }}">
                    {{ demande.etablissement }}
                </a></li>
            {% endfor %}
        </ul>
        </div>
    </div>
    <div class="col-md-8">
        {% if demande %}
        <div class="row">
            <div class="col-md-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Utilisateur</h3>
                    </div>
                    <div class="panel-body">
                        <p><strong><a href="{{ path('admin_user') }}?searchTerms={{ demande.patient.user|url_encode }}">
                                    {{ demande.patient.user }}
                                </a></strong></p>
                        <ul>
                            <li>Compte créé le {{ demande.patient.user.createdAt|format_datetime(null, locale, timezone) }}</li>
                            <li>Dernière connection : {{ demande.patient.user.lastLogin|format_datetime(null, locale, timezone) }}</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Patient</h3>
                    </div>
                    <div class="panel-body">
                        <strong>{{ demande.patient }}</strong>
                        <p>Né le {{ demande.patient.dateNaissance|format_date(null, locale, timezone) }}
                        </p>
                        <ul>
                            <li>Numéro de patient : {{ demande.patient.bsrvrNopat }}</li>
                        </ul>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Demande</h3>
                    </div>
                    <div class="panel-body">
                        <ul>
                            <li>Reçu sur HPA le {{ demande.createdAt|format_datetime(null, locale, timezone) }}</li>
                            <li>Etablissement : {{ demande.etablissement }} ({{ demande.etablissement.bsrvrCodeLabo }})
                            </li>
                            <li>Prescripteur : {{ demande.nomPrescripteur }}</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        {% if relatedDemandes|length > 0 %}
        <hr />
        <br />
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            {{ relatedDemandes|length }}
                            autres demandes sont présentes sur ce compte
                        </h3>
                    </div>
                    <div class="panel-body">
                        <table class="table table-striped table-hover table-bordered table-condensed table-responsive">
                            <thead>
                                <tr>
                                    <th>Patient</th>
                                    <th>Identifiant Hexalis Patient</th>
                                    <th>Date accueil</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for relatedDemande in relatedDemandes %}
                                <tr>
                                    <td>
                                        {{ relatedDemande.patient }}
                                    </td>
                                    <td>
                                        {% if relatedDemande.nodemx != '-' %}
                                        {{ form_start(relatedDemandesForms[relatedDemande.id]) }}
                                        <button type="submit" class="btn-link">
                                            {{ relatedDemande.nodemx }}
                                        </button>
                                        {{ form_end(relatedDemandesForms[relatedDemande.id]) }}
                                        {% else %}
                                        N° de demande :
                                        {{ relatedDemande.nodem }}
                                        {% endif %}
                                    </td>
                                    <td>
                                        {{ relatedDemande.dateAccueil|format_datetime(null, locale, timezone) }}
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
        {% endif %}
    </div>
</div>
{% endblock body %}