{% extends '::layout-private.html.twig' %}
{% block titleH1 %}
Paiements en attente
{% endblock %}
{% block titlePage %}
Paiements en attente
{% endblock %}
{% block breadcrumb %}
<li><a href="{{ path('default_index') }}">{{ 'global.accueil'|trans }}</a></li>
<li>{{ 'global.breadcrumb.payment.due'|trans }}</li>
{% endblock %}

{% block body %}
{% if demandes|length > 0 %}
<table class="table table-striped table-hover table-condensed table-responsive">
	<thead>
		<tr>
			<th class="hidden-xs">Prescripteur</th>
			<th class="hidden-xs">Laboratoire</th>
			<th class="hidden-xs">Patient</th>
			<th class="">Date prélèvement</th>
			<th class="text-right">Reste dû</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
        {% set balance = 0 %}
        {% for demande in demandes %}
		<tr>
			<td class="hidden-xs">{{ demande.nomPrescripteur }}</td>
			<td class="hidden-xs">{{ demande.etablissement.nom }}</td>
			<td class="hidden-xs">{{ demande.patient.nomComplet }}</td>
			<td>{{ demande.datePrelevement|format_date(null, locale, timezone) }} <a href="{{ path('demande_post_enrolement', {'demandeId':demande.id}) }}"><i class="fa fa-link"></i></a></td>
			<td class="text-right">{{ demande.paieSolde|number_format_currency(currency) }}</td>
            <td class="text-right"><a href="{{ path('paiement_confirm', {'demandeId':demande.id}) }}" class="btn btn-xs btn-primary"> <i class="fa fa-euro"></i> Payer en ligne</a></td>
		</tr>
        {% set balance = balance + demande.paieSolde %}
        {% endfor %}
	</tbody>
	<tfoot>
		<tr>
			<td class="hidden-xs"></td>
			<td class="hidden-xs"></td>
			<td class="hidden-xs"></td>
			<td class="text-right"><strong>Total</strong></td>
			<td class="text-right"><strong>{{ balance|number_format_currency(currency) }}</strong></td>
			<td></td>
		</tr>
	</tfoot>
</table>
{% else %}
<div class="alert alert-info">
    Vous n'avez pas de compte rendu en attente de paiement.
</div>
{% endif %}
{% endblock body %}