{% extends '::layout-private.html.twig' %}
{% block titleH1 %}
Valider la demande de paiement
{% endblock %}
{% block titlePage %}
Valider la demande de paiement
{% endblock %}
{% block breadcrumb %}
<li><a href="{{ path('default_index') }}">{{ 'global.accueil'|trans }}</a></li>
<li>{{ 'global.menu.payment.confirmation'|trans }}</li>
{% endblock %}
{% block body %}
{% if requestForm %}
<p>
    Une fois que vous aurez validé votre demande de paiement, vous serez redirigé vers le site <strong>Monetico Paiement (banque Crédit Mutuel)</strong>.
</p>
<p>Lorsque votre paiement sera effectué, vous serez redirigé vers notre site.</p>
<br />
<div class="row">
    <div class="col-md-4 col-md-push-4">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Détails</h3>
            </div>
            <div class="panel-body">
                <p>
                    <strong>Prescripteur :</strong>
                    {{ demande.nomPrescripteur }}
                </p>
                <p>
                    <strong>Laboratoire :</strong>
                    {{ demande.etablissement.nom }}
                </p>
                <p>
                    <strong>Patient :</strong>
                    {{ demande.patient.nomComplet }}
                </p>
                <p>
                    <strong>Date prélèvement :</strong>
                    {{ demande.datePrelevement|format_date(null, locale, timezone) }}
                </p>
                <p>
                    <strong>Montant :</strong>
                    {{ demande.paieSolde|number_format_currency(currency) }}
                </p>
                <br />
                <div class="text-right">
                {{ form_start(requestForm) }}
                {% block form_row %}
                <span style="visibility: hidden; display: none;">{{ form_widget(requestForm) }}</span>
                {% endblock form_row %}
                {{ form_widget(requestForm) }}
                    <button type="submit" href="#" class="btn btn-primary btn-medium">
                        <i class="fa fa-eur"></i> Payer maintenant
                    </button>
                {{ form_end(requestForm) }}
                {{ form_start(cancelForm) }}
                <button class="btn btn-medium btn-default">Annuler</button>
                {{ form_end(cancelForm) }}
                </div>
            </div>
        </div>
    </div>
</div>
{% else %}
<div class="alert alert-danger">
    <i class="fa fa-exclamation-triangle"></i> Vous n'avez pas selectionner de comptes rendus à payer.
</div>
{% endif %}
{% endblock body %}