{% extends '::layout-private.html.twig' %}
{% block titleH1 %}
Paiements effectués
{% endblock %}
{% block titlePage %}
Paiements effectués
{% endblock %}
{% block breadcrumb %}
<li><a href="{{ path('default_index') }}">{{ 'global.accueil'|trans }}</a></li>
<li>{{ 'global.menu.payment.history'|trans }}</li>
{% endblock %}

{% block body %}
{% if demandes|length > 0 %}
<table class="table table-striped table-hover table-condensed table-responsive">
    <thead>
        <tr>
            <th class="hidden-xs">Date paiement</th>
            <th>N° transaction</th>
            <th class="hidden-xs">Prescripteur</th>
            <th class="hidden-xs">Laboratoire</th>
            <th class="hidden-xs">Patient</th>
            <th>Date de prélèvement</th>
            <th>Montant</th>
        </tr>
    </thead>
    <tbody>
        {% for demande in demandes %}
        {% for request in demande.requests %}
        <tr>
            <td class="hidden-xs">{{ request.response.createdAt|format_datetime(null, locale, timezone, constant('IntlDateFormatter::MEDIUM'), constant('IntlDateFormatter::SHORT')) }}</td>
            <td>{{ request.reference }}</td>
            <td class="hidden-xs">{{ demande.nomPrescripteur }}</td>
            <td class="hidden-xs">{{ demande.etablissement.nom }}</td>
            <td class="hidden-xs">{{ demande.patient }}</td>
            <td>{{ demande.datePrelevement|format_date(null, locale, timezone) }} <a href="{{ path('demande_post_enrolement', {'demandeId':demande.id}) }}"><i class="fa fa-link"></i></a></td>
            <td class="text-right info">{{ request.response.montant|number_format_currency(currency) }}</td>
        </tr>
        {% endfor %}
        {% endfor %}
    </tbody>
</table>

{% else %}
<div class="alert alert-info">
    Vous n'avez pas effectué de paiement en ligne pour le moment.
</div>
{% endif %}

{% endblock body %}