{% extends '::layout-private.html.twig' %}
{% block titleH1 %}
Merci pour votre paiement
{% endblock %}
{% block titlePage %}
Merci pour votre paiement
{% endblock %}
{% block breadcrumb %}
<li><a href="{{ path('default_index') }}">{{ 'global.accueil'|trans }}</a></li>
{% endblock %}
{% block body %}
<div class="row">
    <div class="col-md-6 col-md-push-3">
        <div class="well">
            <p>
                Votre compte rendu est maintenant accessible dans <a href="{{ path('default_index') }}">votre liste de comptes rendus</a>.
            </p>
            <p>
                Vous pouvez également consulter <a href="{{ path('paiement_historique') }}">l'historique de vos paiements</a> via le menu <strong>"Compte"</strong> puis <strong>"Historique des paiements"</strong>.
            </p>
            <div class="text-right">
                <a href="{{ path('default_index') }}" class="btn btn-primary">Aller à l'accueil</a>
            </div>
        </div>
    </div>
</div>
{% endblock body %}