{% extends '::layout-private.html.twig' %}
{% block titleH1 %}
Votre paiement n'a pas été pris en compte
{% endblock %}
{% block titlePage %}
Paiement non pris en compte
{% endblock %}
{% block breadcrumb %}
<li><a href="{{ path('default_index') }}">{{ 'global.accueil'|trans }}</a></li>
{% endblock %}
{% block body %}
<div class="row">
    <div class="col-md-6 col-md-push-3">
        <div class="well">
            <p>Votre paiement n'a pas été pris en compte. Vous pouvez soit :</p>
            <ul>
                <li>Effectuer une seconde tentative</li>
                <li>Prendre contact avec votre laboratoire</li>
            </ul>
            <div class="text-right">
                <a href="{{ path('paiement_attente') }}" class="btn btn-primary">Retour aux paiements en attente</a>
            </div>
        </div>
    </div>
</div>
{% endblock body %}