{% extends '::layout-private.html.twig' %}
{% block titleH1 %}
Paiement interompu
{% endblock %}
{% block titlePage %}
Paiement interompu
{% endblock %}
{% block breadcrumb %}
<li><a href="{{ path('default_index') }}">{{ 'global.accueil'|trans }}</a></li>
{% endblock %}
{% block body %}

<p>Vous n'avez pas terminé votre paiement.</p>
<a href="#" class="btn btn-default">Voir mes paiements</a>

{% endblock body %}