{{ form_start(requestForm) }}
{% block form_row %}
<span style="v=isibility:hidden;d=isplay:none;">{{ form_widget(requestForm) }}</span>
{% endblock form_row %}
{{ form_widget(requestForm) }}
<button type="submit">Payer</button>
{{ form_end(requestForm) }}