{% extends "::security.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block form %}
<div>
    <h3>Réinitialiser le mot de passe</h3>
</div>
<p>{{ 'resetting.check_email'|trans({'%pathAide%': path('default_faq')~'#no-mail-resetting', '%tokenLifetime%': tokenLifetime})|raw }}</p>

<div class="text-right">
<a href="{{ path('default_index') }}" class="btn btn-warning">Aller à l'accueil</a>
</div>
{% endblock %}
