{% extends "::security.html.twig" %}
{% trans_default_domain 'FOSUserBundle' %}
{% block form %}
    <h3 class="panel-title">Réinitialiser le mot de passe</h3>
    <p>
        {{ 'resetting.password_already_requested'|trans }}
    </p>
    <div class="text-right">
        <a href="{{ path('default_index') }}" class="btn btn-primary">Retour à l'accueil</a>
    </div>
{% endblock form %}
