{% trans_default_domain 'FOSUserBundle' %}
<form action="{{ path('fos_user_resetting_send_email') }}" method="POST" class="fos_user_resetting_request" novalidate>
    <div class="form-group">  
        {% if invalid_username is defined %}
        <div class="alert alert-danger" role="alert">
            {{ 'resetting.request.invalid_username'|trans({'%username%': invalid_username}) }}
        </div>
        {% endif %}        
        <label for="username">{{ 'resetting.request.username'|trans }}</label>
        <input class="form-control" type="text" id="username" name="username" required="required" autofocus />
    </div>
    <br />
    <div class="text-right">
        <div class="form-group">
            <input class="btn btn-primary" type="submit" value="{{ 'resetting.request.submit'|trans }}" />
            <a class="btn btn-link" href="{{ path('fos_user_security_login') }}">Retour</a>
        </div>
    </div>
</form>
