{% extends "::layout-public.html.twig" %}
{% block titlePage %}
Demande de rappel de mot de passe
{% endblock %}
{% block body %}
<br />
<br />
<div class="row">
    <div class="col-md-6 col-md-push-3">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Réinitialiser mon mot de passe</h3>
            </div>
            <div class="panel-body">
                {% include "FOSUserBundle:Resetting:request_content.html.twig" %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
