{% extends "::security.html.twig" %}
{% block titlePage %}
Initilialiser mon mot de passe
{% endblock %}
{% block form %}
<div>
    <h3>Réinitialiser mon mot de passe</h3>
</div>
{% include "FOSUserBundle:Resetting:reset_content.html.twig" %}
{% endblock %}
