{% trans_default_domain 'FOSUserBundle' %}

{{ form_start(form, { 'action': path('fos_user_resetting_reset', {'token': token}), 'attr': { 'class': 'fos_user_resetting_reset' } }) }}
    <div class="row">
        <div class="col-md-12">
            {{ form_row(form.plainPassword.first, {'attr':{'tabindex':'1'}}) }}
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-12">
            {{ form_row(form.plainPassword.second, {'attr':{'tabindex':'2'}}) }}
            <p class="text-muted">8 caractères min. dont un chiffre, une majuscule et une minuscule.</p>
        </div>
    </div>
    {{ form_rest(form) }}
    <br />
    <div class="row">
        <div class="col-md-12 text-right">
            <button class="btn btn-primary" type="submit">
                {{ 'resetting.reset.submit'|trans }}
            </button>
            <a href="{{ path('default_index') }}" class="btn">Annuler</a>
        </div>
    </div>
{{ form_end(form) }}
