<!doctype html>
<html lang="{{ locale }}">
<head>
{% include '::include/header.html.twig' with {titlePage: block('titlePage'), titleH1: block('titleH1')} %}
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                {% for type, messages in app.session.flashbag.all() %}
                {% for message in messages %}
                <div class="alert alert-{{ type }}">
                    {{ message | trans | raw }}
                </div>
                {% endfor %}
                {% endfor %}
            </div>
        </div>
    </div>
    {{ block('body') }}
    {% include '::include/footer.html.twig' %}
</body>
</html>
