{% set personne_du_contexte = service_contexte.personneContexte %}
{% set menu_personne_data = service_menu.personneMenuData %}
{% set nb_unpaid_demandes = service_paiement.getUnpaidDemandes %}

{% if block('titleH1') is defined %}
{% set blockTitleH1 = block('titleH1') %}
{% else %}
{% set blockTitleH1 = '' %}
{% endif %}
{% if block('titlePage') is defined %}
{% set blockTitlePage = block('titlePage') %}
{% else %}
{% set blockTitlePage = '' %}
{% endif %}
<!doctype html>
<html lang="{{ locale }}">
<head>
{% include '::include/header.html.twig' with {titlePage: blockTitleH1, titleH1: blockTitlePage} %}
</head>
<body>
    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
    {% include '::include/top-private.html.twig' with {personne_du_contexte:personne_du_contexte} %}
    {% else %}
    {% include '::include/top-public.html.twig' %}
    {% endif %}
    <div class="container{% if config.logoAlignement == 'left' and app.request.attributes.get('_route') == 'default_index' %} homepage-spacer{% endif %}">
        <br />
        <section>
            {% if blockTitleH1 is not empty %}
            <h1 class="page-header">{{ blockTitleH1 }}</h1>
            {% endif %}
            <div class="row">
                <div class="col-xs-12">
                    {% for type, messages in app.session.flashbag.all() %}
                    {% for message in messages %}
                    {% if type == 'two_factor' %}{% set type = 'danger' %}{% endif %}
                    <div class="alert alert-{{ type }}">
                        {{ message | trans | raw }}
                    </div>
                    {% endfor %}
                    {% endfor %}
                </div>
            </div>
            {{ block('body') }}
        </section>
    </div>
    {% include '::include/footer.html.twig' %}
</body>
</html>
