{% set personne_du_contexte = service_contexte.personneContexte %}
{% set menu_personne_data = service_menu.personneMenuData %}
{% set nb_unpaid_demandes = service_paiement.getUnpaidDemandes %}

{% if block('titleH1') is defined %}
{% set blockTitleH1 = block('titleH1') %}
{% else %}
{% set blockTitleH1 = '' %}
{% endif %}
{% if block('titlePage') is defined %}
{% set blockTitlePage = block('titlePage') %}
{% else %}
{% set blockTitlePage = '' %}
{% endif %}
<!doctype html>
<html lang="{{ locale }}">
<head>
{% include '::include/header.html.twig' with {titlePage: blockTitlePage, titleH1: blockTitleH1} %}
</head>
<body onScroll="document.cookie='ypos=' + window.pageYOffset" onLoad="window.scrollTo(0,readCookie('ypos'))">
    {% include '::include/top-private.html.twig' with {personne_du_contexte:personne_du_contexte} %}
    <div class="container">
        <br /> <br />
        <section>
            {% if block('breadcrumb') is defined %}
            <ol class="breadcrumb">
                {{ block('breadcrumb') }}
                <span class="pull-right"><a href="{{ path('default_faq') }}"><i class="fa fa-info-circle"></i> Aide</a></span>
            </ol>
            {% endif %}
            {% if blockTitleH1 is not empty %}
            <h1 class="page-header">{{ blockTitleH1|raw }}</h1>
            {% endif %}
            {% if app.user.hasUnassignedPatient and 'patient_reassign' != app.request.attributes.get('_route') and 'patient_assign' != app.request.attributes.get('_route') %}
            <div class="alert alert-danger">
                {{ 'global.cr_en_attente_affectation'|trans({'%path%':path('patient_assign')})|raw }}
            </div>
            {% endif %}
            <div class="row">
                <div class="col-xs-12">
                    {% for type, messages in app.session.flashbag.all() %}
                    {% for message in messages %}
                    <div class="alert alert-{{ type }}">
                        {{ message | trans | raw }}
                    </div>
                    {% endfor %}
                    {% endfor %}
                    {%  if nb_unpaid_demandes > 0 %}
                    <div class="alert alert-warning">
                    	{{ 'agfa_hpa.layout_private.flash.awaitingPayment' | transchoice(nb_unpaid_demandes, {'%nbUnpaidDemandes%':nb_unpaid_demandes, '%urlAwaitingPayment%':path('paiement_attente')})|raw }}
                    </div>
                    {% endif %}
                </div>
            </div>
            {{ block('body') }}
        </section>
    </div>
    <br />
    {% include '::include/footer.html.twig' %}
</body>
</html>
