{% set logoRedirect = mainLogoRedirect is defined ? mainLogoRedirect : path('default_index') %}
<a href="{{ logoRedirect }}" title="Aller à la page d'accueil" name="logo"> 
{% image '%kernel.root_dir%/Resources/public/css/theme/%client_theme%/logo.png' %}
<img alt="Logo du laboratoire" src="{{ asset_url }}" class="img-responsive logo text-{{ config.logoAlignement }}">
{% endimage %}
</a>