{#
La page pour l'API de tracking piwik : http://developer.piwik.org/api-reference/tracking-api 
avec le parameter _cvar : Visit scope custom variables.
qui peut justement contenir l'age et le sexe de l'utilisateur (dans l'espace connecté)
#}

{% if piwik_idsite %}
<!-- Piwik -->
<script type="text/javascript">
  var _paq = _paq || [];
  _paq.push(['trackPageView']);
  _paq.push(['enableLinkTracking']);
  (function() {
    var u="//{{ piwik_hostname }}/";
    _paq.push(['setTrackerUrl', u+'piwik.php']);
    _paq.push(['setSiteId', {{ piwik_idsite }}]);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
    g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
  })();
</script>
<noscript><p><img src="//{{ piwik_hostname }}/piwik.php?idsite={{ piwik_idsite }}" style="border:0;" alt="" /></p></noscript>
<!-- End Piwik Code -->
{% endif %}