{% extends '::layout-public.html.twig' %}
{% block body %}
<div class="row">
	<div class="col-md-6 col-md-push-3 col-sm-8 col-sm-push-2">
		<div class="panel panel-default">
            {%  if block('panel_title') is defined %}
            <div class="panel-heading">
            	<h3 class="panel-title">{{ block('panel_title') }}</h3>
            </div>
            {% endif %}
			<div class="panel-body">
				{{ block('form') }}
			</div>
		</div>
	</div>
</div>
{% endblock %}
