{% if personne_du_contexte.uploads|length > 0 %}
<table class="table">
<tbody>
{% for upload in personne_du_contexte.uploads %}
<tr>
    <td>
        <h5 class="list-group-item-heading">
            <a href="{{ path('upload_download',{id:upload.id,filename:upload.filename}) }}">
                <span class="fa fa-{{ service_uploads.icon(upload.mimetype) }}"></span>
                {{ upload.description }}
            </a>
        </h5>
    </td>
    <td class="text-right" style="vertical-align:middle">
        
    </td>
</tr>
{% endfor %}
</tbody>
</table>
{% else %}
<p>Vous n'avez aucun document personnel.</p>
{% endif %}