{% extends '::layout-private.html.twig' %}
{% block titleH1 %}
Modifier les configurations du site
{% endblock %}
{% block titlePage %}
Modifier les configurations du site
{% endblock %}
{% block breadcrumb %}
<li><a href="{{ path('default_index') }}">Accueil</a></li>
<li>Admin</li>
<li><a href="{{ path('admin_configuration_show') }}">Configurations</a></li>
<li class="active">Modifier</li>
{% endblock %}
{% block body -%}
{{ form_start(edit_form, {'attr':{'novalidate':'novalidate'}}) }}
<div class="row">
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-body">
                {{ form_row(edit_form.logoAlignement) }}
                {{ form_row(edit_form.patientRecordDirectAccess) }}
                {{ form_row(edit_form.lastPatientsRecordOnlyMssg) }}
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-body">
                {{ form_row(edit_form.videoTutorialRegister) }}
                <br />
                {{ form_row(edit_form.logoutRedirectionUrl) }}
                <br />
            </div>
        </div>
    </div>
</div>
<div class="text-right">
    {{ form_widget(edit_form.submit) }}
    <a href="{{ path('admin_configuration_show') }}" class="btn btn-default"> Annuler </a>
</div>
{{ form_rest(edit_form) }}
{{ form_end(edit_form) }}
{% endblock %}
