{% extends '::layout-private.html.twig' %}
{% block titlePage %}
Configurations du site pour
{{ entity.themeName }}
{% endblock %}
{% block titleH1 %}
Configurations du site pour
<strong>{{ entity.themeName }}</strong>
{% endblock %}
{% block breadcrumb %}
<li><a href="{{ path('default_index') }}">Accueil</a></li>
<li>Admin</li>
<li class="active">Configurations</li>
{% endblock %}
{% block body -%}
<div class="row">
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-body">
                <p>
                    <strong>{{ 'agfa.hpa_bundle.configuration.form.label.logo_alignment' | trans }}</strong>
                </p>
                <p>
                    {{ ('agfa.admin_bundle.configuration.form.label.'~entity.logoAlignement)|trans }}
                </p>
                <hr />
                <p>
                    <strong>{{ 'agfa.hpa_bundle.configuration.form.label.patient_record_direct_access' | trans }}</strong>
                </p>
                <p>
                    {{ entity.patientRecordDirectAccess | boolean | trans }}
                </p>
                <hr />
                <p>
                    <strong>{{ 'agfa.hpa_bundle.configuration.form.label.last_patients_record_only_mssg' | trans }}</strong>
                </p>
                <p>
                    {{ entity.lastPatientsRecordOnlyMssg | boolean | trans }}
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-body">
                <p>
                    <strong>{{ 'agfa.hpa_bundle.configuration.form.label.video_tutorial_register' | trans }}</strong>
                </p>
                <p>
                    {{ entity.videoTutorialRegister }}
                </p>
                <hr />
                <p>
                    <strong>{{ 'agfa.hpa_bundle.configuration.form.label.logout_redirection_url'| trans }}</strong>
                </p>
                <p>
                    {{ entity.logoutRedirectionUrl ? entity.logoutRedirectionUrl : "La page d'accueil du site." }}
                </p>
            </div>
        </div>
    </div>
</div>
<div class="text-right">
    <a href="{{ path('admin_configuration_edit') }}" class="btn btn-primary">Modifier</a>
</div>
{% endblock %}