{% extends '::layout-public.html.twig' %}

{% block titlePage %}{{ 'agfa.web_bundle.default.cgu.title_page' | trans }}{% endblock %}

{% block body %}
<section>
	<div class="row">
		<div class="col-md-8 col-md-push-2">
        <div class="text-right"><a href="{{ path('default_index') }}" class="btn btn-sm btn-primary">Retour à l'accueil</a></div>
        <br />
			<div class="panel panel-default">
				<div class="panel-body">
                    <a name="menuContent"></a>
                    <h1>{{ 'agfa.web_bundle.default.cgu.title_h1' | trans }}</h1>
                    <hr />
                    <ul>
                    	<li><a href="#title1">Avis juridique et politique de confidentialité</a></li>
                        <li><a href="#title2">Respect de la vie privée</a></li>
                        <li><a href="#title3">Cookies</a></li>
                        <li><a href="#title4">Services en ligne gratuits</a></li>
                        <li><a href="#title5">Droits d'auteur</a></li>
                        <li><a href="#title6">Marques de commerce</a></li>
                        <li><a href="#title7">Sites liés</a></li>
                        <li><a href="#title8">Informations générales</a></li>
                        <li><a href="#title9">Droits de l'utilisateur</a></li>
                        <li><a href="#title10">Clause de non-responsabilité</a></li>
                        <li><a href="#title11">Droit applicable et juridiction compétente</a></li>
                    </ul>
                        
                    <a name="title1"></a>
					<h2>Avis juridique et politique de confidentialité</h2>
					<p>L'utilisation de ce site Web et des sites Web connexes vaut acceptation et engagement de votre part à respecter les conditions stipulées dans le présent document d'avis juridique et de politique de confidentialité ("Avis juridique"). Veuillez lire attentivement le présent Avis
						juridique afin de protéger vos intérêts. Si vous n'acceptez pas le présent Avis juridique, veuillez ne pas utiliser ce site Web.</p>
					<p>Agfa Healthcare France se réserve le droit de modifier les présentes politiques sans préavis explicite. La publication de l'Avis juridique mis à jour sur ce site Web tiendra lieu de seule notification desdites modifications à votre égard. L'utilisateur est donc encouragé à consulter
						fréquemment le présent Avis juridique.</p>
                    <div class="text-right">
                        <a href="#menuContent" class="btn btn-xs btn-primary"><i class="fa fa-arrow-up"></i> Retour au menu</a>
                        <a href="{{ path('default_index') }}" class="btn btn-xs">Accueil</a>
                    </div>
                        
                    <a name="title2"></a>
					<h3>Respect de la vie privée</h3>
					<p>Agfa Healthcare France, l'un des leaders mondiaux dans le secteur de l'imagerie, s'engage à protéger la confidentialité de ses clients. C'est pourquoi nous avons adopté la présente politique de confidentialité. Lorsque vous consultez le site Web d'Agfa Healthcare France, vous pouvez être
						amené(e) à nous fournir des informations, telles que vos noms et adresse email, afin que nous puissions correspondre avec vous.</p>
					<p>Si vous choisissez de nous communiquer ces informations, nous vous garantissons qu'Agfa Healthcare France ne les distribuera ni ne les vendra intentionnellement à un tiers sans votre autorisation, sauf en cas de cession de tout ou partie de nos activités. En utilisant notre site Web,
						vous acceptez qu'Agfa Healthcare France collecte, traite et utilise les informations que vous communiquez aux fins d'assurer le fonctionnement et l'administration du site Web Agfa Healthcare France de manière générale, y compris pour l'envoi de messages électroniques et la communication
						d'informations sur les services d'Agfa Healthcare France. Agfa étant une entreprise mondialisée, nous pouvons être amenés à transférer des informations vers d'autres bureaux ou filiales d'Agfa à travers le monde, dans la mesure nécessaire aux fins décrites. Lesdites entités sont régies par la
						présente politique de confidentialité.</p>
					<p>Conformément à la loi N° 78-17 du 6 janvier 1978 « Informatiques et libertés », l'utilisateur dispose d'un droit d'interrogation, d'accès, de rectification et d'opposition pour motifs légitimes relativement à l'ensemble des données les concernant par courrier électronique auprès à
						l'adresse suivante : cnil@agfa.com ou par courrier simple adressé à Agfa Healthcare France, 4 avenue de l'Église Romane 33370 Artigues-près-Bordeaux France. À réception de votre refus, nous vous enverrons un accusé de réception et nous enregistrerons votre demande. Votre demande implique que
						nous n'enverrons pas d'e-mails commerciaux susceptibles d'être considérés comme non sollicités.</p>
					<p>Conformément à l'article L.1111-8 et suivants du Code de la Santé Publique, vos données sont hébergées chez GRITA, société agréée par l'ASIP. Agfa Healthcare France pourra, à sa seule discrétion, faire appel à tout autre prestataires de services tiers agréée par l'ASIP Santé pour
						l'hébergement de données de santé à caractère personnel pour l'administration de serveurs Web et le stockage de ces informations sur des disques de sauvegarde</p>
                    <div class="text-right">
                        <a href="#menuContent" class="btn btn-xs btn-primary"><i class="fa fa-arrow-up"></i> Retour au menu</a>
                        <a href="{{ path('default_index') }}" class="btn btn-xs">Accueil</a>
                    </div>
					
                    <a name="title3"></a>
                    <h3>Cookies</h3>
					<p>Les cookies sont des petits fichiers de données qui sont automatiquement stockés sur le disque dur de votre ordinateur afin de rendre l'accès au site Web et la navigation plus rapides et efficaces, et de personnaliser ce site en fonction de vos préférences personnelles, p. ex. la langue
						de l'interface. Les informations collectées permettent également à Agfa Healthcare France d'analyser les flux de trafic sur le site Web. Nous pouvons ainsi proposer une expérience enrichie sur notre site en améliorant le contenu ou la personnalisation et en optimisant son utilisation. Les
						cookies servent à stocker le nom d'utilisateur et toutes les informations connexes pour garantir une connexion unique à tous les systèmes sous-jacents, mais ils ne sont pas utilisés pour collecter des renseignements à caractère personnel permettant d'identifier un visiteur. Ces cookies sont
						supprimés lorsque l'utilisateur se déconnecte. Un cookie peut uniquement être lu par le site Web qui l'a généré.</p>
					<p>La configuration de la plupart des navigateurs Internet vous permet d'accepter ou de refuser les cookies et d'être averti(e) systématiquement lorsqu'un cookie est utilisé. Vous pouvez par la suite décider, au cas par cas, de les accepter ou non. En cas de refus d'utilisation des cookies,
						il est possible que la navigation sur le site ne soit pas optimale. Veuillez vous reporter à la fonction d'aide de votre navigateur Internet pour plus d'informations.</p>
					<p>Veuillez noter que ce site peut contenir des liens vers d'autres sites du monde entier qui ne sont pas régis par la présente politique de confidentialité, ni par une législation offrant le même degré de protection.</p>
					<div class="text-right">
                        <a href="#menuContent" class="btn btn-xs btn-primary"><i class="fa fa-arrow-up"></i> Retour au menu</a>
                        <a href="{{ path('default_index') }}" class="btn btn-xs">Accueil</a>
                    </div>
                    
                    <a name="title4"></a>
                    <h3>Services en ligne gratuits</h3>
					<p>Les services en ligne qui sont présentés à l'utilisateur comme gratuits sont fournis "en l'état". Agfa Healthcare France ne saurait être tenue responsable ni du contenu de tels services, ni de leur indisponibilité ou de leur dysfonctionnement, ni de l'utilisation qu'un internaute
						pourrait en faire. La durée de conservation des données est fixée par le laboratoire client d'Agfa Healthcare France.</p>
					<div class="text-right">
                        <a href="#menuContent" class="btn btn-xs btn-primary"><i class="fa fa-arrow-up"></i> Retour au menu</a>
                        <a href="{{ path('default_index') }}" class="btn btn-xs">Accueil</a>
                    </div>
                    
                    <a name="title5"></a>
                    <h3>Droits d'auteur</h3>
					<p>L'intégralité de la conception du site Web, des textes, des graphiques, des données, mais aussi leur sélection et leur présentation, ainsi que les guides, les lettres d'information, les logiciels et les autres éléments qui peuvent être téléchargés via ce site Web sont la propriété
						exclusive d'Agfa, qui en détient tous les droits d'auteur, TOUS DROITS RÉSERVÉS. Vous êtes en droit de faire des copies électroniques et d'imprimer sur papier des sections de ce site Web à des fins privées non commerciales uniquement, par exemple dans le but de récupérer vos données
						personnelles. Tout autre usage des éléments de ce site Web, notamment la reproduction à des fins autres que celles indiquées ci-dessus, la modification, la traduction, la distribution ou la republication, sans l'autorisation préalable écrite d'Agfa Healthcare France est strictement interdit.</p>
					<p>Les droits d'auteurs sur les photographies reproduites sur le site appartiennent aux photographes concernés ou à Agfa Healthcare France et ces clichés ne peuvent être reproduits sous quelque forme que ce soit sans l'autorisation préalable de leurs auteurs.</p>
					<div class="text-right">
                        <a href="#menuContent" class="btn btn-xs btn-primary"><i class="fa fa-arrow-up"></i> Retour au menu</a>
                        <a href="{{ path('default_index') }}" class="btn btn-xs">Accueil</a>
                    </div>
                    
                    <a name="title6"></a>
                    <h3>Marques de commerce</h3>
					<p>Agfa Healthcare France, et les autres marques de commerce, marques de service, noms commerciaux ou logos affichés sur ce site Web sont la propriété d'Agfa Healthcare France, de ses sociétés affiliées ou de tiers. Aucune mention du présent avis juridique, ni aucun texte figurant sur ce
						site Web ne sauraient être interprétés comme concédant par implication, préclusion ou de toute autre manière une quelconque licence ou un quelconque droit d'utilisation d'une marque de commerce, d'une marque de service, d'un nom commercial ou d'un logo figurant sur le site Web, sans
						l'autorisation préalable écrite expresse de leur propriétaire.</p>
					<div class="text-right">
                        <a href="#menuContent" class="btn btn-xs btn-primary"><i class="fa fa-arrow-up"></i> Retour au menu</a>
                        <a href="{{ path('default_index') }}" class="btn btn-xs">Accueil</a>
                    </div>
                    
                    <a name="title7"></a>
                    <h3>Sites liés</h3>
					<p>Ce site Web peut être lié à d'autres sites Web qui ne sont pas contrôlés ou administrés par Agfa Healthcare France. Agfa Healthcare France n'a pas examiné ou analysé en détail le contenu de ces sites Web, qui peuvent par ailleurs évoluer ou disparaître. Agfa Healthcare France n'est pas
						responsable de leur contenu et la présence d'un lien n'implique aucunement qu'Agfa Healthcare France est d'accord avec son contenu. Agfa Healthcare France vous fournit ces liens à des fins de commodité uniquement et à vos propres risques. L'inclusion d'un lien vers ces sites n'implique
						aucunement qu'Agfa Healthcare France s'en porte garant, ni qu'il existe un partenariat ou une coopération de quelque nature que ce soit entre Agfa Healthcare France et les propriétaires ou les exploitants desdits sites liés.</p>
					<p>La personne qui envoie un message sur ce site Web ou à ses propriétaires ou exploitants est seule responsable du contenu du message et des informations qu'il véhicule, y compris de leur véracité et de leur exactitude. "</p>
					<div class="text-right">
                        <a href="#menuContent" class="btn btn-xs btn-primary"><i class="fa fa-arrow-up"></i> Retour au menu</a>
                        <a href="{{ path('default_index') }}" class="btn btn-xs">Accueil</a>
                    </div>
                    
                    <a name="title8"></a>
                    <h3>Informations générales</h3>
					<p>Le site Web d'Agfa Healthcare France est proposé essentiellement à titre d'information et doit uniquement être utilisé comme tel. Bien qu'Agfa Healthcare France s'efforce de fournir des informations soigneusement triées et à jour, ce site Web ne doit pas se substituer à des conseils
						professionnels lorsqu'il y a lieu. Aucune garantie ou déclaration, expresse ou implicite, n'est formulée quant à l'exactitude, la pertinence ou l'exhaustivité des informations proposées, ni quant à leur adéquation à un usage particulier.</p>
					<div class="text-right">
                        <a href="#menuContent" class="btn btn-xs btn-primary"><i class="fa fa-arrow-up"></i> Retour au menu</a>
                        <a href="{{ path('default_index') }}" class="btn btn-xs">Accueil</a>
                    </div>
                    
                    <a name="title9"></a>
                    <h3>Droits de l'utilisateur</h3>
					<p>L'utilisateur de ce site Web s'engage i) à ne pas faire usage du site Web à des fins illicites ou nuisibles ; ii) à ne pas empêcher l'accès au site Web, à ne pas le perturber, le modifier ou le rendre moins performant et à ne pas porter préjudice au site Web, à Agfa Healthcare France ou
						à des tiers ; iii) à ne pas faire usage du site Web pour transmettre ou propager des virus informatiques ou des informations nuisibles, insultantes ou illégales.</p>
					<p>Tous les droits de l'utilisateur qui ne sont pas explicitement accordés par les présentes sont réservés par Agfa Healthcare France.</p>
					<div class="text-right">
                        <a href="#menuContent" class="btn btn-xs btn-primary"><i class="fa fa-arrow-up"></i> Retour au menu</a>
                        <a href="{{ path('default_index') }}" class="btn btn-xs">Accueil</a>
                    </div>
                    
                    <a name="title10"></a>
                    <h3>Clause de non-responsabilité</h3>
					<p>CE SITE WEB ET SON CONTENU SONT FOURNIS PAR AGFA HEALTHCARE FRANCE "EN L'ÉTAT" ET "SELON LA DISPONIBILITÉ" ET AGFA HEALTHCARE FRANCE NE FAIT AUCUNE DÉCLARATION, NI NE DONNE AUCUNE GARANTIE CONCERNANT CE SITE WEB OU SON CONTENU. AGFA HEALTHCARE FRANCE DÉCLINE TOUTE DÉCLARATION ET
						GARANTIE, Y COMPRIS, MAIS SANS S'Y LIMITER, TOUTE GARANTIE DE QUALITÉ MARCHANDE ET D'ADÉQUATION À UN USAGE PARTICULIER. EN OUTRE, AGFA HEALTHCARE FRANCE NE GARANTIT PAS QUE LES INFORMATIONS ACCESSIBLES VIA CE SITE WEB SONT EXACTES, EXHAUSTIVES OU À JOUR. NI AGFA HEALTHCARE FRANCE, NI L'UN
						QUELCONQUE DE SES DIRECTEURS, EMPLOYÉS OU REPRÉSENTANTS NE SAURAIENT ÊTRE TENUS RESPONSABLES DE QUELCONQUES DOMMAGES DÉCOULANT DE OU LIÉS À L'UTILISATION DE CE SITE WEB, NOTAMMENT EN CAS DE NON-DISPONIBILITÉ OU DE PROBLÈME TECHNIQUE, OU DÉCOULANT D'INFORMATIONS CONTENUES SUR CE SITE WEB, DE
						VIRUS, DE PIRATAGES OU D'AUTRES DÉLITS INFORMATIQUES. CETTE LIMITATION DE RESPONSABILITÉ GLOBALE S'APPLIQUE À TOUS LES DOMMAGES, Y COMPRIS, MAIS SANS S'Y LIMITER, AUX DOMMAGES COMPENSATOIRES, DIRECTS, INDIRECTS OU IMMATÉRIELS, À LA PERTE DE DONNÉES, DE REVENUS, DE PROFITS, D'OPPORTUNITÉS OU
						D'ACTIFS, AUX PRÉJUDICES MATÉRIELS, AUX COÛTS RELATIFS AU PERSONNEL ET AUX PLAINTES DÉPOSÉES PAR DES TIERS, INDÉPENDAMMENT DU TYPE DE POURSUITE, QUE CE SOIT NOTAMMENT EN RESPONSABILITÉ CONTRACTUELLE, DÉLICTUELLE OU AUTRE, ET CE MÊME SI AGFA AVAIT CONNAISSANCE DE LA POSSIBILITÉ DE TELS
						DOMMAGES.</p>
					<p>Certaines juridictions n'autorisent pas l'exclusion de certaines garanties. Dans la mesure où une législation particulière serait impérativement applicable et interdirait impérativement l'une quelconque des exclusions susmentionnées, celle-ci serait jugée inapplicable. Cependant, dans ce
						cas, les exclusions jugées valides resteront applicables.</p>
					<div class="text-right">
                        <a href="#menuContent" class="btn btn-xs btn-primary"><i class="fa fa-arrow-up"></i> Retour au menu</a>
                        <a href="{{ path('default_index') }}" class="btn btn-xs">Accueil</a>
                    </div>
                    
                    <a name="title11"></a>
                    <h3>Droit applicable et juridiction compétente</h3>
					<p>L'utilisation de ce site Web est régie par le droit français. Tous les litiges liés à ou découlant de l'utilisation de ce site Web seront soumis à la compétence du Tribunal de Commerce de Bordeaux.</p>
				    <div class="text-right">
                        <a href="#menuContent" class="btn btn-xs btn-primary"><i class="fa fa-arrow-up"></i> Retour au menu</a>
                        <a href="{{ path('default_index') }}" class="btn btn-xs">Accueil</a>
                    </div>
                </div>
			</div>
		</div>
	</div>
</section>
{% endblock %}
