{% extends '::layout-public.html.twig' %}
{% block titlePage %}
{{ 'agfa.web_bundle.default.create_account_guide.title_page' | trans|raw }}
{% endblock %}
{% block titleH1 %}
{{ 'agfa.web_bundle.default.create_account_guide.title_page' | trans|raw }}
{% endblock %}
{% block body %}
<section>
    <div class="text-right">
        <a href="{{ path('default_index') }}" class="btn btn-primary btn-md">
            <i class="fa fa-arrow-left"></i> Retour vers l'accueil
        </a>
    </div>
    <br />
    <div class="text-center embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item" width="1120" height="630" src="{{ config.getVideoTutorialRegister }}" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
    </div>
</section>
<br />
{% endblock %}