{% extends '::layout-public.html.twig' %}
{% block titlePage %}
{{ 'agfa.web_bundle.default.faq.title_page' | trans }}
{% endblock %}
{% block body %}
{% set question1 = 'agfa.web_bundle.default.faq.question1'|trans({'%app_name%':app_name}) %}
{% set question2 = 'agfa.web_bundle.default.faq.question2'|trans %}
{% set question3 = 'agfa.web_bundle.default.faq.question3'|trans %}
{% set question4 = 'agfa.web_bundle.default.faq.question4'|trans %}
{% set question5 = 'agfa.web_bundle.default.faq.question5'|trans %}
{% set question6 = 'agfa.web_bundle.default.faq.question6'|trans %}
{% set question7 = 'agfa.web_bundle.default.faq.question7'|trans %}
{% set question8 = 'agfa.web_bundle.default.faq.question8'|trans %}
<section>
    <div class="row">
        <div class="col-md-8 col-md-push-2">
            <div class="text-right">
                <a href="{{ path('default_index') }}" class="btn btn-sm btn-primary">Retour à l'accueil</a>
            </div>
            <br />
            <div class="panel panel-default">
                <div class="panel-body">
                    <a href="#" name="topOfPage"></a>
                    <h1>{{ 'agfa.web_bundle.default.faq.title_h1' | trans }}</h1>
                    <hr />
                    <h3>Généralités</h3>
                    <ul>
                    	<li><a href="#fonc-gen">Fonctionnement général du site</a></li>
                    </ul>
                    
                    <h3>Consulter vos résultats</h3>
                    <ul>
                        <li><a href="#get-result">{{ question1|raw }}</a></li>
                        <li><a href="#no-results">{{ question3 }}</a></li>
                    </ul>
                    <h3>Problèmes d'accès</h3>
                    <ul>
                        <li><a href="#no-mail">{{ question2 }}</a></li>
                        <li><a href="#no-security-code">{{ question6 }}</a></li>
                        <li><a href="#invalid-security-code">{{ question8 }}</a></li>
                        <li><a href="#no-mail-resetting">{{ question4 }}</a></li>
                        <li><a href="#account-disabled">{{ question7 }}</a></li>
                    </ul>
                    <hr />
                    <a href="#" name="fonc-gen"></a>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            {{ question5 }}
                        </div>
                        <div class="panel-body">
                            <p>
                                Pour une utilisation optimale du site
                                <strong>{{ app_name }}</strong>
                                nous vous invitons à accepter l'usage des cookies dans les paramètres de votre navigateur.
                            </p>
                            <p>
                                Nous vous conseillons également de tenir le système de votre ordinateur (Windows, ...) ainsi que votre navigateur à jour 
                                (Firefox, Chrome, Opéra, Internet Explorer...) afin de réduire au minimum les risques de failles de sécurités.
                            </p>
                        </div>
                        <div class="panel-footer text-right">
                            <a href="#topOfPage" class="btn btn-xs btn-primary"><i class="fa fa-arrow-up"></i> Retour au menu</a> <a href="{{ path('default_index') }}" class="btn btn-xs">Accueil</a>
                        </div>
                    </div>
                    <hr />
                    
                    <a href="#" name="get-result"></a>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            {{ question1|raw }}
                        </div>
                        <div class="panel-body">
                            <p>Deux possibilités s’offrent à vous :</p>
                            <ol>
                                <li>Créer un compte personnel vous permettant de conserver l’historique de vos examens.</li>
                                <li>Consulter seulement les résultats de votre dernier examen</li>
                            </ol>
                            <h3>Pour créer un compte personnel</h3>
                            <p>
                                Cliquez sur <a href="{{ path('fos_user_registration_register') }}">créer votre compte personnel</a>. Une fois le formulaire validé, un mail contenant un lien d’activation vous sera envoyé.
                            </p>
                            <p>Lorsque votre compte est créé, saisissez les identifiants que le laboratoire vous a transmis. Les prochains résultats d’analyses effectuées dans le même laboratoire seront directement disponibles dans votre compte personnel.</p>
                            <h3>Sans créer de compte personnel</h3>
                            <p>
                                Cliquez sur le lien <a href="{{ path('consultation_directe') }}">accéder à vos derniers résultats</a> afin de saisir les identifiants transmis par le laboratoire ou reçus par SMS. Dans ce cas, vous ne pourrez pas consulter votre historique d’analyses à votre prochaine connexion.
                            </p>
                        </div>
                        <div class="panel-footer text-right">
                            <a href="#topOfPage" class="btn btn-xs btn-primary"><i class="fa fa-arrow-up"></i> Retour au menu</a> <a href="{{ path('default_index') }}" class="btn btn-xs">Accueil</a>
                        </div>
                    </div>
                    <hr />
                    <a href="#" name="no-mail"></a>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            {{ question2 }}
                        </div>
                        <div class="panel-body">
                            <p>Commencez par consulter les spams de votre messagerie mail utilisée pour la création de votre compte personnel afin de vérifier que le mail d’activation n’y est pas présent.</p>
                            <p>Si le mail d’activation n’est pas dans vos spams :</p>
                            <ol>
                                <li>Ajoutez le site <strong>{{ app_name }}</strong> aux sites de confiance de votre messagerie
                                </li>
                                <li>Rendez-vous sur <a href="{{ path('default_index') }}">la page d'accueil</a></li>
                                <li>Cliquez sur <a href="{{ path('fos_user_security_login') }}">accéder à votre compte personnel</a>
                                </li>
                                <li>Saisissez l’adresse mail utilisée lors de la création de votre compte personnel ainsi que le mot de passe que vous avez choisi</li>
                                <li>Cliquez sur le bouton "Me connnecter"</li>
                                <li>La phrase suivante apparaît : "Si vous n'avez pas reçu l'email d'activation de votre compte, vous pouvez en recevoir un nouveau en cliquant ici". Cliquez alors sur ce lien.</li>
                            </ol>
                        </div>
                        <div class="panel-footer text-right">
                            <a href="#topOfPage" class="btn btn-xs btn-primary"><i class="fa fa-arrow-up"></i> Retour au menu</a> <a href="{{ path('default_index') }}" class="btn btn-xs">Accueil</a>
                        </div>
                    </div>
                    <hr />
                    <a href="#" name="no-mail-resetting"></a>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            {{ question4 }}
                        </div>
                        <div class="panel-body">
                            <p>Commencez par consulter les spams de votre messagerie mail utilisée pour la création de votre compte personnel afin de vérifier que le mail contenant le lien de confirmation n’y est pas présent.</p>
                            <p>Si le mail n’est pas dans vos spams :</p>
                            <ol>
                                <li>Ajoutez le site <strong>{{ app_name }}</strong> aux sites de confiance de votre messagerie
                                </li>
                                <li>Rendez-vous sur <a href="{{ path('default_index') }}">la page d'accueil</a></li>
                                <li>Cliquez sur <a href="{{ path('fos_user_security_login') }}">accéder à votre compte personnel</a> puis sur le bouton "J'ai oublié mon mot de passe"
                                </li>
                                <li>Saisissez l’adresse mail utilisée lors de la création de votre compte personnel</li>
                                <li>Consultez votre messagerie, un mail contenant un lien vous a été envoyé.</li>
                                <li>Cliquez sur ce lien afin de saisir votre mot de passe. Une fois ce mot de passe validé, vous êtes connecté à votre compte personnel.</li>
                            </ol>
                        </div>
                        <div class="panel-footer text-right">
                            <a href="#topOfPage" class="btn btn-xs btn-primary"><i class="fa fa-arrow-up"></i> Retour au menu</a> <a href="{{ path('default_index') }}" class="btn btn-xs">Accueil</a>
                        </div>
                    </div>
                    <hr />
                    <a href="#" name="no-security-code"></a>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            {{ question6 }}
                        </div>
                        <div class="panel-body">
                            {{ 'agfa.web_bundle.default.faq.answer6'|trans({'%app_name%':app_name})|raw }}
                        </div>
                        <div class="panel-footer text-right">
                            <a href="#topOfPage" class="btn btn-xs btn-primary"><i class="fa fa-arrow-up"></i> Retour au menu</a> <a href="{{ path('default_index') }}" class="btn btn-xs">Accueil</a>
                        </div>
                    </div>
                    <hr />
                    <a href="#" name="invalid-security-code"></a>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            {{ question8 }}
                        </div>
                        <div class="panel-body">
                            {{ 'agfa.web_bundle.default.faq.answer8'|trans|raw }}
                        </div>
                        <div class="panel-footer text-right">
                            <a href="#topOfPage" class="btn btn-xs btn-primary"><i class="fa fa-arrow-up"></i> Retour au menu</a> <a href="{{ path('default_index') }}" class="btn btn-xs">Accueil</a>
                        </div>
                    </div>
                    <hr />
                    <a href="#" name="no-results"></a>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            {{ question3 }}
                        </div>
                        <div class="panel-body">
                            <p>Nous vous invitons à contacter votre laboratoire.</p>
                        </div>
                        <div class="panel-footer text-right">
                            <a href="#topOfPage" class="btn btn-xs btn-primary"><i class="fa fa-arrow-up"></i> Retour au menu</a> <a href="{{ path('default_index') }}" class="btn btn-xs">Accueil</a>
                        </div>
                    </div>
                    <hr />
                    <a href="#" name="account-disabled"></a>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            {{ question7 }}
                        </div>
                        <div class="panel-body">
                            <p>Plusieurs causes sont possibles :</p>
                            
                            <h5>1. Le compte est nouveau et vous n'avez pas cliqué sur le lien d'activation reçu par mail.</h5>
                            <p>Si vous n'avez pas reçu le mail contenant ce lien d'activation demandez la réinitialisation de votre mot de passe en <a href="{{ path('fos_user_resetting_request') }}">cliquant ici</a>.</p>
                            <p>Suivez ensuite les indications reçues par mail.</p>
                            
                            <h5>2. Le compte a été désactivé suite à plus de {{ max_login_attempts }} tentatives infructueuses de connexion.</h5>
                            <p>Un email vous a été envoyé avec les instructions vous permettant de débloquer votre compte.</p>
                            <p>Si vous n'avez pas reçu cet e-mail ou si ce dernier ne fonctionne pas, vous pouvez faire une demande de réinitialisation de mot de passe en guise de confirmation que
                            vous êtes bien le propriétaire du compte.</p>
                        </div>
                        <div class="panel-footer text-right">
                            <a href="#topOfPage" class="btn btn-xs btn-primary"><i class="fa fa-arrow-up"></i> Retour au menu</a> <a href="{{ path('default_index') }}" class="btn btn-xs">Accueil</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}