{% extends '::layout-public.html.twig' %}
{% block titlePage %}
{{ 'agfa.web_bundle.default.homepage.title_page' | trans }}
{% endblock %}
{% block body %}
<div class="layoutPublic">
    <section>
        <div class="row">
            <div class="col-md-6">
                <div class="panel panel-register">
                    <div class="panel-body">
                        <div class="hero-icon">
                            <span class="fa fa-user-plus"></span>
                        </div>
                        <div class="hero-content">
                            <p>
                                Pour conserver tous vos résultats et ceux de vos proches, les laboratoires
                                {{ client_brand }}
                                vous offrent la possibilité de <a href="{{ path('fos_user_registration_register') }}">créer votre compte personnel</a>
                                dans notre espace sécurisé
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="panel panel-direct">
                    <div class="panel-body">
                        <div class="hero-icon">
                            <span class="fa fa-bolt"></span>
                        </div>
                        <div class="hero-content">
                            <p>
                                Vous pouvez toujours <a href="{{ path('consultation_directe') }}">accéder à vos derniers résultats</a> avec les
                                identifiants remis par le laboratoire
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br />
        <br />
    </section>
</div>
{% endblock %}
