{% extends '::layout-private.html.twig' %}
{% block titlePage %}
{{ 'agfa.web_bundle.default.nouveau_compte.title_page' | trans }}
{% endblock %}
{% block breadcrumb %}
<li class="active">{{ 'agfa.breadcrumb.accueil'|trans }}</li>
{% endblock %}
{% block body %}
<div class="jumboron">
    <h2>{{ 'agfa.web_bundle.default.nouveau_compte.title_h1' | trans }}</h2>
    <p>Afin d'activer la récupération automatique des résultats provenant de votre laboratoire, saisissez les identifiants qui vous ont été transmis par ce dernier.</p>
    <br />
    <br />
    <div class="row">
        <div class="col-md-6 col-md-push-3">
            <div class="panel panel-default">
                <div class="panel-body">
                    {{ form_start(form) }}
                    <fieldset><legend>Saisissez vos identifiants</legend></fieldset>
                    {{ form_row(form.login, {'attr':{'autofocus':'true'}}) }}
                    <br />
                    {{ form_row(form.password) }}
                    <br />
                    <br />
                    <div class="text-right">
                        <button type="submit" class="btn btn-primary">Activer la récupération automatique</button>
                    </div>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

