{% extends '::layout-private.html.twig' %}
{% block body %}
<div class="row">
    <div class="col-xs-12 text-center">
        <h4>Sélectionnez la personne pour laquelle vous voulez consulter le(s) compte(s) rendu(s).</h4>
    </div>
</div>
<br />
    {% for personne in personnes %}
    {% if loop.index % 4 == 1 %}<div class="row">{% endif %}
    <div class="col-sm-6 col-md-4 col-lg-3">
        <div class="thumbnail panel panel-default liste-selection-personne">
            <div class="panel-body">
                <div class="silhouette hidden-xs">
                    <span class="fa fa-user silhouette"></span>
                </div>
                <h3>{{ personne.nomComplet }}</h3>
                <p>
                    {% if personne.sexe == 'F' %}
                    Née
                    {% else %}
                    Né
                    {% endif %}
                    le
                    {{ personne.dateNaissance|format_date(null, locale, timezone) }}
                    ,
                    {{ personne.age }}
                    ans.
                </p>
                {% set demandes_non_lues = service_demandes.nonLusParPersonne(personne) %}
                {% if demandes_non_lues|length > 0 %}
                <p class="text-info">
                    {{ "global.nb_cr_non_lus"|transchoice(demandes_non_lues|length) }}
                </p>
                {% else %}
                <p class="text-muted">Pas de nouveau compte rendu.</p>
                {% endif %}
                <p>
                    <a href="{{ path('default_switch_personne',{personneId:personne.id}) }}" class="btn btn-primary btn-block" role="button">Sélectionner</a>
                </p>
            </div>
        </div>
    </div>
    {% if loop.index % 4 == 0 or loop.last %}</div>{% endif %}
    {% endfor %}
{% endblock %}
