{% extends '::layout-public.html.twig' %}

{% block titlePage %}{{ 'agfa.web_bundle.default.user_guide.title_page' | trans }}{% endblock %}
{% block titleH1 %}{{ 'agfa.web_bundle.default.user_guide.title_page' | trans }}{% endblock %}

{% block body %}

<section>


<h2>Créer et gérer mon compte</h2>

<h3>Pourquoi créer un compte ?</h3>
<p>Créer un compte sur {{ app_name }} est gratuit. Cela va vous permettre de conserver vos résultats en ligne.</p>


<h3>Comment créer un compte ?</h3>

{% if is_granted('IS_AUTHENTICATED_FULLY') %}
<h3>Supprimer mon compte</h3>

{% endif %}


<h2>S'authentifier</h2>


<h2>Mot de passe oublié</h2>
<a href="{{ path('default_faq') }}">Questions fréquentes</a>

{% if is_granted('IS_AUTHENTICATED_FULLY') %}
<h2>Test</h2>
{% endif %}

</section>

{% endblock %}