{% extends '::layout-private.html.twig' %}
{% block body %}
<br />
<br />
<br />
<div class="row">
    <div class="col-md-4 col-md-push-4">
        <div class="panel panel-default">
            <div class="panel-body text-center">
                <p>
                    Confirmez-vous la suppression du compte rendu du
                    {{ demande.datePrelevement|format_datetime(null, locale, timezone, constant('IntlDateFormatter::LONG'), constant('IntlDateFormatter::SHORT')) }}
                    ?
                </p>
                <br />
                <p>
                    {{ form(deleteForm) }}
                    <a href="{{ path('demande_index', {'year':"now"|date('Y'), 'month':"now"|date('m')}) }}" type="button" class="btn btn-link">Annuler</a>
                </p>
            </div>
        </div>
    </div>
</div>
{% endblock %}