{% extends '::layout-private.html.twig' %}
{% block titlePage %}
Mes résultats
{% endblock %}
{% block breadcrumb %}
<li><a href="{{ path('default_index') }}">Accueil</a></li>
<li class="active">Comptes rendus</li>
{% endblock %}
{% block body %}
<h1>{{ personne_du_contexte.nomComplet }} 
{% if app.user.personnes|length > 1 %}
<small class="pull-right"><a href="{{ path('personne_index') }}" class="btn btn-default btn-sm"><i class="fa fa-cog"></i> Configurer</a></small>
{% endif %}
</h1>
<hr />
<div class="row">
    {% if demandes|length > 0 %}
    <div class="col-md-9">
        {% include '::include/list-element.html.twig' with {'demandes':filtered_demandes, 'resultats':resultats} %}
    </div>
    <div class="col-md-3 col-left-border">
        <div class="panel-group" id="accordionFilter" role="tablist" aria-multiselectable="true">
            {% for year, listMonths in dates_list %}
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="{{ year }}">
                    <h4 class="panel-title"><a role="button" data-toggle="collapse" data-parent="#accordionFilter" href="#collapse{{ year }}" aria-expanded="true" aria-controls="collapse{{ year }}"> {{ year }}
                    {% if year_has_unread[year] %}
                    <a href="#" data-toggle="tooltip" title="Vous avez au moins un nouveau compte-rendu à lire." class="text-danger pull-right" class="text-danger"><i class="fa fa-exclamation-triangle text-warning"></i></a>
                    {% endif %}
                    </a></h4>
                </div>
                <div id="collapse{{ year }}" class="panel-collapse collapse in {#{% if app.request.get('year') == year %} in{% endif %}{% if dateIsCurrent and loop.first %} in{% endif %}#}" role="tabpanel" aria-labelledby="heading{{ year }}">
                    <div class="panel-body">
                        <div class="list-group">
                            {% for result in listMonths %}
                            <a class="list-group-item justify-content-between" href="{{ path('demande_index', {'year':result.date|format_date('y', locale, timezone),'month':result.date|format_date('MM', locale, timezone)}) }}">
                            {{ result.date|format_date('MMMM', locale, timezone)|title }} <span class="badge{% if result.hasUnread %} badge-warning{% else %} badge-primary{% endif %}">{{ result.count }}</span>
                            </a>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    {% else %}
    <div class="col-md-12">
        <div class="alert alert-info">Aucun compte rendu n'a été ajouté pour le moment.</div>
    </div>
    {% endif %}
{#     <div class="col-md-3" id="col-form-enrolement">#}
{#         {% include ':Enrolement:form-accueil.html.twig' %}#}
{#     </div>#}
</div>
{% endblock %}
{% block javascripts %}
<script src="{{ asset('%kernel.root_dir%/Resources/public/js/agfa.comptes_rendus.js') }}"></script>
{% endblock %}
