{% extends '::layout-private.html.twig' %}
{% block titlePage %}
Compte rendus
{% endblock %}
{% block breadcrumb %}
<li><a href="{{ path('default_index') }}">Accueil</a></li>
<li><a href="{{ path('demande_index', {'year':'now'|format_date('y'), 'month':'now'|format_date('MM')}) }}">Comptes rendus</a></li>
<li><a href="{{ path('demande_index',{'year':demande.dateAccueil|format_date('y', locale, timezone), 'month':demande.dateAccueil|format_date('MM')}) }}">{{ demande.dateAccueil|format_date('MMMM y', locale, timezone) }}</a></li>
<li>{{ demande.dateAccueil|format_date('EEEE d', locale, timezone) }}</li>
{% endblock %}
{% block body %}
<div class="row">
    <div class="col-md-6 col-md-push-3">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">{{ demande.patient.patientPersonnes.0.personne.nomComplet }} {% if demande.patient.nomComplet != demande.patient.patientPersonnes.0.personne.nomComplet %} <br /> <small>(Identité donnée au laboratoire : {{ demande.patient.nomComplet }})
                </small> {% endif %}</h3>
            </div>
            <div class="panel-body">
                <div class="media">
                    <div class="media-left">
                        <span class="fa fa-calendar fa-fw fa-2x"></span>
                    </div>
                    <div class="media-body">
                        <p>
                            Prélèvement du
                            {{ demande.datePrelevement|format_datetime('EEEE d MMMM Y, H:mm', locale, timezone, constant('IntlDateFormatter::LONG'), constant('IntlDateFormatter::SHORT')) }}
                        </p>
                    </div>
                </div>
                <div class="media">
                    <div class="media-left">
                        <span class="fa fa-user-md fa-fw fa-2x"></span>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">Médecin prescripteur</h4>
                        <p>
                            {{ demande.nomPrescripteur }}
                        </p>
                    </div>
                </div>
                <div class="media">
                    <div class="media-left">
                        <span class="fa fa-hospital-o fa-fw fa-2x"></span>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">Laboratoire</h4>
                        <p>
                            {{ demande.etablissement.nom }}
                        </p>
                    </div>
                </div>
                <br />
                <div class="col-md-12">
                    {% if demande.etablissement.paiement and demande.etablissement.paiement.affichageCr == false and demande.paieSolde > 0 and demande.etablissement.paiement.actif %}
                    <a href="{{ path('paiement_confirm',{'demandeId':demande.id}) }}" class="btn btn-block btn-lg btn-primary" role="button"> 
                    <span class="fa fa-eur"></span> Régler le montant dû pour visualiser <span class="hidden-xs"> le compte rendu</span>
                    </a>
                    {% else %}
                    <a target="_blank" href="{{ path('demande_download',{'demandeId':demande.id}) }}" class="btn btn-block btn-lg btn-primary piwik_download" role="button"> 
                    <span class="fa fa-file-pdf-o"></span> Télécharger pour visualiser <span class="hidden-xs"> le compte rendu</span>
                    </a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    {% endblock %}