{# UNUSED UNTIL WE FOUND SOME USEFUL INFORMATIONS TO PUT IN IT #}


{% extends '::layout-private.html.twig' %}
{% block titleH1 %}
Compte rendu
{% endblock %}
{% block breadcrumb %}
<li><a href="{{ path('default_index') }}">Accueil</a></li>
<li><a href="{{ path('demande_index', {'year':'now'|format_date('y'), 'month':'now'|format_date('MM')}) }}">Comptes rendus</a></li>
<li><a href="{{ path('demande_index',{'year':demande.dateAccueil|format_date('y', locale, timezone), 'month':demande.dateAccueil|format_date('MM')}) }}">{{ demande.dateAccueil|format_date('MMMM y', locale, timezone) }}</a></li>
<li>{{ demande.dateAccueil|format_date('EEEE d', locale, timezone) }}</li>
{% endblock %}
{% block body %}
<div class="row">
    <div class="col-sm-8">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="media">
                    <div class="media-left">
                        <span class="fa fa-user fa-fw fa-2x"></span>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">Personne</h4>
                        <p>
                            {{ demande.patient.personne.nomComplet }}
                        </p>
                    </div>
                </div>
                <div class="media">
                    <div class="media-left">
                        <span class="fa fa-calendar fa-fw fa-2x"></span>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">Date</h4>
                        <p>
                            Prélèvement du
                            {{ demande.datePrelevement|format_datetime(null, locale, timezone, constant('IntlDateFormatter::MEDIUM'), constant('IntlDateFormatter::SHORT')) }}
                        </p>
                    </div>
                </div>
                <div class="media">
                    <div class="media-left">
                        <span class="fa fa-user-md fa-fw fa-2x"></span>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">Médecin prescripteur</h4>
                        <p>
                            {{ demande.nomPrescripteur }}
                        </p>
                    </div>
                </div>
                <div class="media">
                    <div class="media-left">
                        <span class="fa fa-list-alt fa-fw fa-2x"></span>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">Identité laboratoire</h4>
                        <p>
                            {{ demande.patient.nomComplet }}
                        </p>
                    </div>
                </div>
                <div class="media">
                    <div class="media-left">
                        <span class="fa fa-hospital-o fa-fw fa-2x"></span>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">Laboratoire</h4>
                        <p>
                            {{ demande.labo.nom }}
                        </p>
                    </div>
                </div>
                <div class="media">
                    <div class="media-left">
                        <span class="fa fa-medkit fa-fw fa-2x"></span>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">Examens</h4>
                        {% for chapitre_item in demande.chapitres %}
                        <h5>{{ chapitre_item.libelle }}</h5>
                        <ul>
                            {% for examen in chapitre_item.examens %}
                            <li>{{ examen.libelle }}</li>
                            <ul>
                                {% for element in examen.elements %}
                                <li>{{ element.libelle }} {% if element.resultats|length > 0 %}: {{ element.resultats|join(', ') }}{% endif %}</li>
                                {% endfor %}
                            </ul>
                            {% endfor %}
                        </ul>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <p class="col-sm-4">
        <a target="_blank" href="{{ path('demande_download',{'demandeId':demande.id}) }}" class="btn btn-block btn-lg btn-primary piwik_download" role="button"> <span class="fa fa-file-pdf-o"></span> Télécharger<span class="hidden-xs"> le compte rendu</span>
        </a>
    </p>
    <p class="col-sm-4">
        <a href="{{ path('demande_delete_confirmation',{demande_id:demande.id}) }}" class="btn btn-block btn-danger" role="submit"><span class="fa fa-trash"></span> Supprimer</a>
    </p>
    {% endblock %}