/* COLORS */
$primaryColor: #0088CC
$secondaryColor: #0088CC
$ternaryColor: #FAFAFA
$darkGrey: #666
$white: #fff

/* ELEMENTS */

$publicHeaderBg: $white 
$publicHeaderText: $primaryColor
$publicHeaderIcon: $secondaryColor
$publicHeaderBorder: $primaryColor

$publicLogoBg: transparent
$publicLogoBgPage: transparent
$publicPanelBorder: $secondaryColor

$pageBg: transparent
$bodyBg: $ternaryColor
$breadcrumbBg: lighten($darkGrey, 53%) 
$text: $darkGrey
$links: $primaryColor
$titleH1: $text
$titleH2: $text
$titleH3: $text

$headerBg: $white

$footerBg: $ternaryColor
$footerText: $text
$footerLink: $primaryColor
$footerLinkHover: darken($footerLink, 30%)
$footerBorder: lighten($darkGrey, 50%) 

$menuBg: $secondaryColor
$menuBgSides: $secondaryColor
$menuText: $ternaryColor
$menuTextMobile: $white

$dropdownMenuText: $text
$dropdownMenuHeaderDesktop: $primaryColor
$dropdownMenuHeaderMobile: $primaryColor

@import "../base"

/* CODE PERSONNALISE CI-DESSOUS... */
.logo
  padding-top: 10px
  padding-bottom: 10px
  
@media only screen and (min-width : 992px)
  .logo img
    width: 30%
    
@media only screen and (max-width : 992px)
  .logo
    padding-top: 0
    padding-bottom: 0
@media only screen and (max-width : 768px)
  .logo img
    width: 70%