{% extends "::layout-public.html.twig" %}
{% trans_default_domain 'FOSUserBundle' %}
{% block titlePage %}
Se connecter
{% endblock %}
{% block body %}
<div class="row">
    <div class="col-md-6 col-md-push-1">
        <form action="{{ path("fos_user_security_check") }}" method="post" novalidate="novalidate">
            <div class="panel panel-default panel-login">
                <div class="panel-heading">
                    <h3 class="panel-title">J'ai déjà un compte...</h3>
                </div>
                <div class="panel-body">
                    {% if error %}
                    <div class="alert alert-danger" role="alert">
                        {{ error.messageKey|trans(error.messageData, 'security') }}
                    </div>
                    {% endif %}
                    {% if csrf_token %}
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
                    {% endif %}
                    <div class="form-group">
                        <label for="username">{{ 'security.login.username'|trans }}</label>
                        <input class="form-control" type="email" id="username" name="_username" autofocus value="{{ last_username }}"
                            aria-describedby="emailHelper" required="required" tabindex="1" autocomplete="off"
                            placeholder="{{ 'agfa.fosuser_bundle.security.login.placeholder.email'|trans({}, 'messages') }}"
                        />
                    </div>
                    <br />
                    <div class="form-group">
                        <label for="password">{{ 'security.login.password'|trans }}</label>
                        <input class="form-control" type="password" id="password" name="_password" required="required"
                            aria-describedby="passwordHelper" tabindex="2" autocomplete="off"
                            placeholder="{{ 'agfa.fosuser_bundle.security.login.placeholder.psswd'|trans({}, 'messages') }}"
                        />
                        {% if error and error.messageKey == 'Invalid credentials.' %}
                        <p class="text-muted">8 caractères min. dont un chiffre, une majuscule et une minuscule.</p>
                        {% endif %}
                    </div>
                    <br />
                    {% if error and error.messageKey == 'Account is disabled.' %}
                    <p>
                        Si vous n'avez pas reçu l'e-mail d'activation de votre compte, vous pouvez en recevoir un nouveau en <a
                            href="{{ path('remind_email',{email:last_username}) }}"
                        >cliquant ici</a>.
                    </p>
                    {% endif %}
                </div>
                <div class="panel-footer">
                    <a href="{{ path('fos_user_resetting_request') }}" class="link-only">J'ai oublié mon mot de passe</a>
                    <input class="btn btn-primary pull-right" type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans }}" />
                    <div class="clearfix"></div>
                </div>
            </div>
        </form>
    </div>
    <div class="col-md-4 col-md-push-1">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Je crée mon compte...</h3>
            </div>
            <div class="panel-body panel-login">
                <ul>
                    <li>Stockage gratuit et sécurisé de vos résultats</li>
                    <li>Votre compte vous suit dans tous les laboratoires <strong>{{ client_brand }}</strong></li>
                    <li>Gardez le contrôle : effacez vos données définitivement et à tout moment</li>
                </ul>
            </div>
            <div class="panel-footer">
                <a href="{{ path('fos_user_registration_register') }}" class="btn btn-default pull-right">Je crée mon compte...</a>
                <div class="clearfix"></div>
            </div>
        </div>
        {% if config.patientRecordDirectAccess %}
        <a href="{{ path('consultation_directe') }}" class="btn btn-default btn-md btn-block">
            {% if config.lastPatientsRecordOnlyMssg %}
            Je ne souhaite pas créer de compte...
            {% else %}
            ...ou accédez à vos résultats sans créer de compte
            {% endif %}
        </a>
        <br />
        {% endif %}
    </div>
</div>
{% endblock %}