@charset "UTF-8";
/* Colors */
/**
 * Bootstrap
 */
.badge.badge-danger {
  background-color: red;
  color: #fff; }

.badge.badge-warning {
  background-color: darkorange;
  color: #fff; }

.badge.badge-primary {
  background-color: #6095C1;
  color: #fff; }

.text-warning {
  color: orange; }

.tooltip-inner {
  white-space: pre-wrap; }

.panel-default > .panel-heading, .panel-default > .panel-footer {
  background-color: #fff;
  border-top: none; }
  .panel-default > .panel-heading .link-only, .panel-default > .panel-footer .link-only {
    margin-top: 5px;
    position: absolute; }

.panel-default > .panel-heading {
  border-bottom-color: #eee; }

.panel-default > .panel-heading > .panel-title {
  font-size: 1.6em;
  color: #666666;
  padding-top: 6px; }

.panel-login > .panel-body {
  min-height: 200px; }

.panel-login ul {
  padding-left: 20px;
  list-style: none; }
  .panel-login ul li:before {
    content: "";
    font-family: FontAwesome;
    display: inline-block;
    margin-left: -1.3em;
    margin-top: 3px;
    width: 1.3em; }

/***
 * Global
 */
.container {
  padding-top: 0;
  padding-bottom: 0; }
  .container section {
    padding-bottom: 10px; }

.full-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #000;
  opacity: 0; }

.tooltip.in {
  opacity: 1; }

.tooltip-inner {
  padding: 2px; }

.tooltip-inner-content {
  padding: 5px 10px;
  font-size: 14px;
  background-color: white;
  color: black;
  border: 1px solid black; }

div.silhouette {
  text-align: center; }

span.silhouette {
  font-size: 12em;
  color: #6095c1; }

.liste-selection-personne {
  cursor: pointer; }
  .liste-selection-personne:hover {
    background-color: #eee; }

.text-center {
  margin-left: auto;
  margin-right: auto; }

.form-icon-tooltip {
  margin-top: 7px;
  padding-left: 0; }

form, .form-group, #form {
  display: inline; }

.navbar-toggle {
  margin-right: 8px; }

.navbar-cookie {
  background-color: red; }
  .navbar-cookie .navbar-text {
    color: #fff; }

#cookie-bar {
  margin-bottom: 50px; }

.logo-agfa {
  width: 70px;
  margin-bottom: 10px; }

/***
 * Homepage 
 */
div.layoutPublic .hero-icon {
  font-size: 100px;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  overflow: auto;
  height: 150px;
  line-height: 150px;
  width: 150px;
  text-align: center; }
div.layoutPublic .panel-register {
  border-color: #6095C1;
  min-height: 250px;
  vertical-align: middle; }
  div.layoutPublic .panel-register .hero-icon {
    color: #eff5f9; }
div.layoutPublic .panel-direct {
  border-color: #76923b;
  min-height: 250px; }
  div.layoutPublic .panel-direct .hero-icon {
    color: #f1f4eb; }
div.layoutPublic .panel {
  position: relative;
  padding: 15px; }
div.layoutPublic .panel-body {
  min-height: 250px;
  text-align: center;
  font-size: 150%;
  display: table; }
div.layoutPublic .hero-content {
  display: table-cell;
  vertical-align: middle;
  width: 100%;
  z-index: 1;
  position: relative; }
div.layoutPublic .container-fluid.login {
  font-size: 20px;
  padding: 20px;
  border-bottom-width: 1px;
  border-bottom-style: solid; }
div.layoutPublic .login-link > a {
  text-transform: uppercase; }

div.homepage .logo {
  padding-top: 15px;
  padding-bottom: 15px; }

.logo {
  padding-top: 20px;
  padding-bottom: 20px; }

/* Large Devices, Wide Screens */
/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) {
  div.homepage .logo {
    margin-top: 70px;
    margin-bottom: 70px; }

  .homepage-spacer {
    padding: 150px 0 100px 0; } }
/* Small Devices, Tablets */
/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
  .logo {
    margin-top: 10px;
    margin-bottom: 10px; }

  span.silhouette {
    font-size: 8em; } }
/* Custom, iPhone Retina */
@media only screen and (max-width: 320px) {
  span.silhouette {
    font-size: 6em; } }
/**
 * Form
 */
.input-group-btn .btn {
  padding-bottom: 7px; }

/**
 * Navbar
 */
.menu-bar .navbar {
  margin-bottom: 0;
  padding-bottom: 0; }
.menu-bar .navbar-default {
  border: none; }

.dropdown-link-text {
  display: inline-block;
  margin-right: 20px; }

.dropdown-menu > li > a.personnes {
  width: 100%;
  margin-right: 80px; }

/**
 * GUI
 */
.clickme {
  cursor: pointer; }

.col-left-border {
  padding-left: 15px;
  border-left: 1px solid #eee; }

/**
 * List of results
 */
.reports-list-left, .reports-list-right > .col-md-4, .reports-list-left-sm {
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 15px; }

.reports-list-left-high, .reports-list-right-high > .col-md-4 {
  height: 155px; }

.reports-list-left-higher, .reports-list-right-higher > .col-md-4 {
  height: 210px; }

.reports-list-details {
  padding-top: 10px;
  padding-bottom: 10px; }

.contentReportSecondary, .contentReportSecondarySm {
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 15px;
  background-color: white;
  border: solid #ddd;
  border-width: 1px;
  border-radius: 5px;
  color: #666;
  box-shadow: 10px 10px 18px #555; }
  .contentReportSecondary:hover, .contentReportSecondarySm:hover {
    background-color: #eee;
    cursor: pointer; }

.reports-list-left, .reports-list-left-sm {
  background-color: white;
  border: solid #ddd;
  border-width: 1px 0 1px 1px;
  border-radius: 5px 0 0 5px;
  color: #666; }
  .reports-list-left:hover, .reports-list-left-sm:hover {
    background-color: #eee;
    cursor: pointer; }
  .reports-list-left .col-md-6, .reports-list-left-sm .col-md-6 {
    padding-bottom: 5px; }

.reports-list-left-sm {
  border-right: 1px solid #ddd;
  border-radius: 5px; }

.reports-list-right, .reports-list-right a {
  text-align: center;
  color: white; }
  .reports-list-right .col-md-4, .reports-list-right a .col-md-4 {
    background-color: #FF8C00;
    border-radius: 0 5px 5px 0; }
    .reports-list-right .col-md-4:hover, .reports-list-right a .col-md-4:hover {
      background-color: #cc7000;
      color: white; }

.cr-read-short, .cr-read-extended {
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px;
  background-color: #fff;
  color: #666; }
  .cr-read-short:hover, .cr-read-extended:hover {
    cursor: pointer; }

.cr-read-extended {
  box-shadow: 10px 10px 18px #555; }
  .cr-read-extended:hover {
    cursor: pointer; }

/* Menu highlights */
li.highlighted {
  background-color: #FF8C00; }
  li.highlighted a {
    color: white !important; }
  li.highlighted a:hover {
    background-color: #cc7000; }

/* ELEMENTS */
/* PAS TOUCHE !!! */
/* STRUCTURE */
body {
  background-color: #FAFAFA; }
  body h1 {
    color: #666; }
  body h2 {
    color: #666; }
  body h3 {
    color: #666; }
  body p, body label, body th {
    color: #666; }
  body .container {
    background-color: transparent; }

header {
  background-color: #fff; }

div.layoutPublic .container-fluid.login {
  border-bottom-color: #fe9c05;
  background-color: #fff; }
  div.layoutPublic .container-fluid.login .container {
    background-color: transparent; }
  div.layoutPublic .container-fluid.login .login-link > a {
    color: #fe9c05; }
  div.layoutPublic .container-fluid.login .login-link > .fa {
    color: #4885b8; }

.logoPublic {
  background-color: transparent; }
  .logoPublic section.logo {
    background-color: transparent; }

ol.breadcrumb {
  background-color: #f2f2f2; }

footer {
  background-color: #FAFAFA;
  min-height: 200px !important; }
  footer .container {
    background-color: #FAFAFA;
    border-color: #e6e6e6;
    border-style: solid;
    border-width: 1px 0 0 0; }
  footer p {
    color: #666; }
  footer a {
    color: #fe9c05; }
  footer a:hover {
    color: #6a4000; }

/* MENU */
.menu-bar {
  background-color: #4885b8; }
  .menu-bar .navbar, .menu-bar .container {
    background-color: #4885b8; }
  .menu-bar #navbar a, .menu-bar #navbar .navbar-brand, .menu-bar #navbar .icon-bar, .menu-bar li.open a, .menu-bar li.open .navbar-brand, .menu-bar li.open .icon-bar, .menu-bar .navbar a, .menu-bar .navbar .navbar-brand, .menu-bar .navbar .icon-bar {
    color: #FAFAFA; }
    .menu-bar #navbar a:hover, .menu-bar #navbar a:focus, .menu-bar #navbar a:active, .menu-bar #navbar .navbar-brand:hover, .menu-bar #navbar .navbar-brand:focus, .menu-bar #navbar .navbar-brand:active, .menu-bar #navbar .icon-bar:hover, .menu-bar #navbar .icon-bar:focus, .menu-bar #navbar .icon-bar:active, .menu-bar li.open a:hover, .menu-bar li.open a:focus, .menu-bar li.open a:active, .menu-bar li.open .navbar-brand:hover, .menu-bar li.open .navbar-brand:focus, .menu-bar li.open .navbar-brand:active, .menu-bar li.open .icon-bar:hover, .menu-bar li.open .icon-bar:focus, .menu-bar li.open .icon-bar:active, .menu-bar .navbar a:hover, .menu-bar .navbar a:focus, .menu-bar .navbar a:active, .menu-bar .navbar .navbar-brand:hover, .menu-bar .navbar .navbar-brand:focus, .menu-bar .navbar .navbar-brand:active, .menu-bar .navbar .icon-bar:hover, .menu-bar .navbar .icon-bar:focus, .menu-bar .navbar .icon-bar:active {
      color: #e1e1e1; }
  .menu-bar #navbar ul.dropdown-menu a, .menu-bar li.open ul.dropdown-menu a, .menu-bar .navbar ul.dropdown-menu a {
    color: #666; }

.navbar-default .navbar-toggle .icon-bar {
  background-color: #FAFAFA; }

.navbar-default .navbar-toggle {
  border-color: #FAFAFA; }

#navbar > ul.nav.navbar-nav.navbar-right > li.warning {
  background-color: #c10909; }

@media only screen and (max-width: 480px) {
  .menu-bar #navbar ul.dropdown-menu a, .menu-bar .navbar ul.dropdown-menu a, .menu-bar li.open ul.dropdown-menu a {
    color: #fff; } }
#navbar > ul.navbar-nav > li.open > a {
  background-color: #6d9dc6; }

@media only screen and (min-width: 480px) {
  .dropdown-header {
    color: #fe9c05; } }
@media only screen and (max-width: 480px) {
  .dropdown-header {
    color: #fe9c05; } }
/* LIENS & BOUTONS */
.btn-primary {
  background-color: #fe9c05;
  border-color: white; }
  .btn-primary.btn-primary:hover {
    background-color: #e98d01;
    border-color: #feba51; }

a, .btn-link {
  color: #fe9c05; }

a:hover, a:focus, a:active {
  color: #9c5f01; }

div.layoutPublic .panel-register, div.layoutPublic .panel-direct {
  border-color: #4885b8; }
  div.layoutPublic .panel-register a, div.layoutPublic .panel-direct a {
    text-decoration: underline; }
  div.layoutPublic .panel-register a:hover, div.layoutPublic .panel-direct a:hover {
    text-decoration: none; }

/* HOMEPAGE */
.panel-login ul li:before {
  color: #fe9c05; }

/* LIST OF PATIENT RECORD */
.reports-list-right .col-md-4, .reports-list-right a .col-md-4 {
  background-color: #4885b8; }
  .reports-list-right .col-md-4 .btn-primary, .reports-list-right a .col-md-4 .btn-primary {
    background-color: #4885b8; }
  .reports-list-right .col-md-4:hover, .reports-list-right a .col-md-4:hover {
    background-color: #396b94; }

/* CODE PERSONNALISE CI-DESSOUS... */
