#scrollspy ul li a { padding: 2px 10px; }
.thumbnail-personne .avatar {background-color:black;color:white;opacity:0.1;height: 200px; position:relative}
.thumbnail-personne .avatar .fa {font-size:100px;text-align:center;height:100px;width:100px;position:absolute;margin:auto;top:0;bottom:0;left:0;right:0}
.thumbnail.call-to-action { border-style: dashed; }
.thumbnail.call-to-action .avatar { background-color:white;color:black }
.list-group-avatar { width:50px; height:50px; margin: 0 10px 10px 0; float:left; border: 1px solid silver; font-size:40px;color: silver;line-height: 50px;text-align: center;}
.list-group-description {margin-left:60px}
.demande-item.unread h4, .demande-item.unread p { }
table.uploads td:nth-of-type(3), table.uploads th:nth-of-type(3) { text-align: right }
table.uploads td:nth-of-type(4), table.uploads th:nth-of-type(4) { text-align: center }
table.uploads td:nth-of-type(1) { text-transform: uppercase }
table.uploads tbody td { vertical-align: middle; }
table.uploads tbody td .file-icon { position: relative; vertical-align: sub; margin-right: .5em; color: #888 }
table.uploads tbody td .action-icon { margin: 0 10px }
table.uploads tbody td .action-icon:not(:hover) { color: gray; }
#param_personnes .panel.panel-collapsed .pull-right { display: none }
#scrollspy.affix { top: 70px }
.email {
	font-family: monospace;
	white-space: nowrap;
}
