
$primaryColor: #303385
$secondaryColor: #409b34
$ternaryColor: #FAFAFA
$darkGrey: #666
$white: #fff

/* ELEMENTS */

$publicHeaderBg: $primaryColor 
$publicHeaderText: $white
$publicHeaderIcon: $white
$publicHeaderBorder: $white

$publicLogoBg: $primaryColor
$publicLogoBgPage: transparent
$publicPanelBorder: $secondaryColor

$pageBg: transparent
$bodyBg: $white
$breadcrumbBg: lighten($secondaryColor, 55%)
$text: $darkGrey
$links: $primaryColor
$titleH1: $text
$titleH2: $text
$titleH3: $text

$headerBg: $primaryColor

$footerBg: $primaryColor
$footerText: $secondaryColor
$footerLink: $white
$footerLinkHover: darken($footerLink, 30%)
$footerBorder: $primaryColor

$menuBg: $secondaryColor
$menuBgSides: $secondaryColor
$menuText: $ternaryColor
$menuTextMobile: $white

$dropdownMenuText: $text
$dropdownMenuHeaderDesktop: $secondaryColor
$dropdownMenuHeaderMobile: $secondaryColor

@import "../base"

/* CODE PERSONNALISE CI-DESSOUS... */
footer>div.container>hr
  border-color: $primaryColor
    
.logo
  padding-top: 10px
  padding-bottom: 10px
  
@media only screen and (min-width : 992px)
  .logo img
    width: 30%
    
@media only screen and (max-width : 992px)
  .logo
    padding-top: 0
    padding-bottom: 0
@media only screen and (max-width : 768px)
  .logo img
    width: 70%






  
    