{% extends '::layout-private.html.twig' %}
{% block titleH1 %}
Modifier un nom affiché
{% endblock %}
{% block breadcrumb %}
<li><a href="{{ path('default_index') }}">Accueil</a></li>
<li><a href="{{ path('personne_index') }}">Personnes</a></li>
<li class="active">Modifier un nom affiché</li>
{% endblock %}
{% block body %}
<div class="row">
    <div class="col-md-6 col-md-push-3">
        <div class="panel panel-default">
            <div class="panel-body">
                {{ form_start(edit_form, {'attr':{'novalidate':'novalidate'}}) }}
                <div class="row">
                    <div class="col-md-6">
                        {{ form_row(edit_form.prenom) }}
                    </div>
                    <div class="col-md-6">
                        {{ form_row(edit_form.nom) }}
                    </div>
                </div>
                <br />
                <div class="text-right">
                    <input type="submit" class="btn btn-primary" value="Modifier">
                    <a href="{{ path('personne_index') }}" class="btn btn-default">Annuler</a>
                </div>
                {{ form_rest(edit_form) }}
                {{ form_end(edit_form) }}
                
                {{ form(delete_form) }}
            </div>
        </div>
    </div>
</div>
{% endblock %}