{% extends '::layout-private.html.twig' %}
{% block titlePage %}
{{ 'agfa.web_bundle.configuration.personnes.title_page' | trans }}
{% endblock %}
{% block breadcrumb %}
<li><a href="{{ path('default_index') }}">{{ 'agfa.breadcrumb.accueil'|trans }}</a></li>
<li class="active">{{ 'agfa.breadcrumb.personnes'|trans }}</li>
{% endblock %}
{% block body %}
{% if app.user.personnes|length > 0 %}
{% for row in personnes|batch(2) %}
<div class="row">
    {% for personne in row %}
    <div class="col-md-6" id="param_personnes">
        <div class="panel panel-default">
            <div class="panel-body">
                <h3>
                    <a href="{{ path('default_switch_personne', {'personneId':personne.id}) }}">{{ personne.nomComplet }}</a>
                    <div class="btn-group pull-right">
                        <button type="button" class="btn btn-xs btn-default dropdown-toggle" data-toggle="dropdown">
                            <i class="fa fa-cog"></i> Actions <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                            <li role="presentation" class="dropdown-header">{{ personne.nomComplet }} et ses comptes rendus</li>
                            <li><a href="{{ path('default_switch_personne', {'personneId':personne.id}) }}">Afficher</a></li>
                            {#<li><a href="#">Partager</a></li>#}
                            <li role="separator" class="divider"></li>
                            <li role="presentation" class="dropdown-header">Configurer</li>
                            <li><a href="{{ path('personne_edit',{'personneId':personne.id}) }}">Modifier / supprimer</a></li>
                        </ul>
                    </div>
                </h3>
                <p class="panel-group">
                    {% if personne.sexe == 'F' %}
                    Née
                    {% else %}
                    Né
                    {% endif %}
                    le
                    {{ personne.dateNaissance|format_date(null, locale, timezone) }}
                    ,
                    {{ personne.age }}
                    ans.
                </p>
                {# The following is only if the current user has ownership over the personne #} {# <hr /> <h3>Partage</h3> <p> {{ personne.nomComplet }} et ses résultats sont accessibles par : </p>#}
                <hr />
                {% if newPersonnes[personne.id] is defined %}
                {% if newPersonnes[personne.id]|length > 1 %}
                <h3>Résultats</h3>
                <div class="panel-group" id="accordion{{ personne.id }}">
                    <div class="panel panel-default">
                        {% for newPersonne in newPersonnes[personne.id] %}
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion{{ personne.id }}" href="#collapse{{ newPersonne.patient_id }}">... sous le nom de {{ newPersonne.nom_complet }} <i class="fa fa-ellipsis-h"></i></a>
                                <div class="btn-group pull-right">
                                    <button type="button" class="btn btn-xs btn-default dropdown-toggle" data-toggle="dropdown">
                                        <i class="fa fa-cog"></i> Actions <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu" role="menu">
                                        <li role="presentation" class="dropdown-header">Pour ce patient</li>
                                        <li><a href="{{ path('patient_reassign', {'personneId':personne.id, 'patientId':newPersonne.patient_id}) }}" title="Réaffecter les comptes rendus">Réaffecter ce patient</a></li>
                                        <li><a href="{{ path('patient_delete_confirmation', {'patientId':newPersonne.patient_id}) }}">Supprimer</a></li>
                                    </ul>
                                </div>
                            </h4>
                        </div>
                        <div id="collapse{{ newPersonne.patient_id }}" class="panel-collapse collapse{% if loop.first %} in{% endif %}">
                            <div class="panel-body">
                                {% if labos[personne.id][newPersonne.patient_id] is defined %}
                                <ul>
                                    {% for labo in labos[personne.id][newPersonne.patient_id] %}
                                    <li>{{ 'agfa.hpa_bundle.personne.index.list_results'|transchoice(labo.nb_demandes, {'%labo_name%':labo.name, '%labo_city%':labo.ville})|raw }}</li>
                                    {% endfor %}
                                </ul>
                                {% else %}
                                <div class="alert alert-info">Aucun résultat n'est disponible pour ce patient pour le moment.</div>
                                {% endif %}
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
                {% else %}
                {% for newPersonne in newPersonnes[personne.id] %}
                <h3>
                    Résultats
                    {% if newPersonne.nom_complet == personne %}
                    <div class="btn-group pull-right">
                        <button type="button" class="btn btn-xs btn-default dropdown-toggle" data-toggle="dropdown">
                            <i class="fa fa-cog"></i> Actions <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                            <li role="presentation" class="dropdown-header">Pour ce patient</li>
                            <li><a href="{{ path('patient_reassign', {'personneId':personne.id, 'patientId':newPersonne.patient_id}) }}" title="Réaffecter les comptes rendus">Réaffecter ce patient</a></li>
                            <li><a href="{{ path('patient_delete_confirmation', {'patientId':newPersonne.patient_id}) }}">Supprimer</a></li>
                        </ul>
                    </div>
                    {% endif %}
                </h3>
                {% if newPersonne.nom_complet != personne %}
                <h4>
                    ... sous le nom de
                    {{ newPersonne.nom_complet }}
                    <div class="btn-group pull-right">
                        <button type="button" class="btn btn-xs btn-default dropdown-toggle" data-toggle="dropdown">
                            <i class="fa fa-cog"></i> Actions <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                            <li role="presentation" class="dropdown-header">Pour ce patient</li>
                            <li><a href="{{ path('patient_reassign', {'personneId':personne.id, 'patientId':newPersonne.patient_id}) }}" title="Réaffecter les comptes rendus">Réaffecter ce patient</a></li>
                            <li><a href="{{ path('patient_delete_confirmation', {'patientId':newPersonne.patient_id}) }}">Supprimer</a></li>
                        </ul>
                    </div>
                </h4>
                {% endif %}
                {% if labos[personne.id][newPersonne.patient_id] is defined %}
                <ul>
                    {% for labo in labos[personne.id][newPersonne.patient_id] %}
                    <li>{{ 'agfa.hpa_bundle.personne.index.list_results'|transchoice(labo.nb_demandes, {'%labo_name%':labo.name, '%labo_city%':labo.ville})|raw }}</li>
                    {% endfor %}
                </ul>
                {% else %}
                <div class="alert alert-info">Aucun résultat n'est disponible pour ce patient pour le moment.</div>
                {% endif %}
                {% endfor %}
                {% endif %}
                {% endif %}
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endfor %}
{% else %}
<div class="row">
    <div class="col-md-12">
        <div class="alert alert-info">Aucune personne n'est associée à votre compte pour le moment.</div>
    </div>
</div>
{% endif %}
{% endblock %}