
$primaryColor: #39525A
$secondaryColor: #2EA3DF
$ternaryColor: #A6DBF5
$darkGrey: #666
$white: #fff

/* ELEMENTS */

$publicHeaderBg: $secondaryColor 
$publicHeaderText: $white
$publicHeaderIcon: $white
$publicHeaderBorder: $secondaryColor

$publicLogoBg: $secondaryColor
$publicLogoBgPage: transparent
$publicPanelBorder: $primaryColor

$pageBg: transparent
$bodyBg: $white
$breadcrumbBg: lighten($secondaryColor, 45%)
$text: $darkGrey
$links: $secondaryColor
$titleH1: $text
$titleH2: $text
$titleH3: $text

$headerBg: $secondaryColor

$footerBg: $primaryColor
$footerText: $white
$footerLink: lighten($secondaryColor, 50%)
$footerLinkHover: darken($footerLink, 30%)
$footerBorder: $primaryColor

$menuBg: $primaryColor
$menuBgSides: $primaryColor
$menuText: $white
$menuTextMobile: $white

$dropdownMenuText: $primaryColor
$dropdownMenuHeaderDesktop: $secondaryColor
$dropdownMenuHeaderMobile: $secondaryColor

@import "../base"

/* CODE PERSONNALISE CI-DESSOUS... */
img.logo
    max-width: 300px
.logo
    margin-bottom: 10px

@media only screen and (max-width : 480px)
    img.logo
        max-width: 250px
    .logo
        margin-top: 0
        padding-top: 0
        margin-bottom: 5px
        