Bonjour {{ email }},

Votre code de sécurité correspondant  à la tentative de connexion du {{ app.user.updatedAt|format_datetime(null, locale, timezone, constant('IntlDateFormatter::SHORT'), constant('IntlDateFormatter::SHORT')) }} est {{ auth_code }}. Veuillez saisir cette valeur dans le formulaire d'authentification. 

Cordialement
{{ client_brand }}

**************

{{ 'agfa.web_bundle.default.faq.question6'|trans }}
{{ 'agfa.web_bundle.default.faq.answer6TextOnly'|trans|raw }}