<p>Bonjour <b><u>{{ email }}</u></b>,</p>
<p>Votre code de sécurité correspondant  à la tentative de connexion du {{ app.user.updatedAt|format_datetime(null, locale, timezone, constant('IntlDateFormatter::SHORT'), constant('IntlDateFormatter::SHORT')) }} est {{ auth_code }}. Veuillez saisir cette valeur dans le formulaire d'authentification.</p> 
<p>Cordialement, <br /> {{ client_brand }}</p>
<hr />
{{ 'agfa.web_bundle.default.faq.question8'|trans }}
{{ 'agfa.web_bundle.default.faq.answer8'|trans|raw }}