{% extends "::layout-public.html.twig" %}
{% block titlePage %}
Authentification
{% endblock %}
{% block body %}
<div class="row">
    <div class="col-md-6 col-md-push-3 col-sm-8 col-sm-push-2">
        <div class="panel panel-default">
            <div class="panel-body">
                <h3>Authentification</h3>
                <form class="form" action="" method="post" novalidate>
                    <p>
                        Veuillez saisir le code de sécurité qui vous a été transmis à partir de <strong>{{ app.user.updatedAt|format_time(null, locale, timezone, constant('IntlDateFormatter::SHORT')) }}</strong> à l'adresse email <strong>{{ app.user.email }}</strong>
                    </p>
                    <br />
                    <div class="form-group">
                        <input class="form-control" type="number" id="_auth_code" name="_auth_code" autofocus autocomplete="off" required="required" />
                    </div>
                    <br />
                    {% if useTrustedOption %}
                    <div class="form-group">
                        {% set authCodeLifetime = auth_code_lifetime/24/60/60 %}
                        <p style="display:none;" class="text-danger">Un nouveau code de sécurité vous sera transmis à votre prochaine connexion.</p>
                        <label for="_trusted"><input id="_trusted" type="checkbox" name="_trusted" checked /> {{ "scheb_two_factor.trusted"|trans({'%authCodeLifetime%':authCodeLifetime}) }}</label>
                    </div>
                    {% endif %}
                    <div class="text-right">
                        <input class="btn btn-primary" type="submit" id="_submit" name="_submit" value="Confirmer" />
                        <a class="btn btn-link" href="{{ path('fos_user_security_logout') }}">Annuler</a>
                    </div>
                </form>
                <br />
                <div id="accordion">
                    <p>
                        <a data-toggle="collapse" href="#no-security-code" data-parent="#accordion"> <i class="fa fa-info-circle"></i> {{ 'agfa.web_bundle.default.faq.question6'|trans }}</a>
                    </p>
                    <div id="no-security-code" class="collapse panel-body">
                        {{ 'agfa.web_bundle.default.faq.answer6'|trans({'%app_name%':app_name})|raw }}
                    </div>
                    <p>
                        <a data-toggle="collapse" href="#no-security-code2" data-parent="#accordion"> <i class="fa fa-info-circle"></i> {{ 'agfa.web_bundle.default.faq.question8'|trans }}</a>
                    </p>
                    <div id="no-security-code2" class="collapse panel-body">
                        {{ 'agfa.web_bundle.default.faq.answer8'|trans({'%app_name%':app_name})|raw }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
