{% if users|length > 0 %}
<p class="text-right">
    {{ 'agfa.admin_bundle.user.list_users.result'|transchoice(nbUsers, {"%nbUsers%":nbUsers})|raw }}
</p>
<p class="text-right">
    <i class="fa fa-file-text-o"></i> Logs | <i class="fa fa-eur"></i> Paiements 
    {% if is_granted(constant('\\Agfa\\UserBundle\\Entity\\User::ROLE_SUPPORT')) %}
    | <i class="fa fa-lock"></i> / <i class="fa fa-unlock"></i> Compte activé / désactivé
    | <i class="fa fa-bug"></i> Activer / désactiver les infos de debug
    {% endif %}
    | <i class="fa fa-user-circle-o"></i> Accès au compte
</p>
<table class="table table-hover table-stripped table-condensed">
    <thead>
        <tr>
            <th class="hidden-xs"></th>
            <th>Adresse email</th>
            <th class="hidden-xs">Créé le</th>
            <th class="hidden-xs">Dernière connexion</th>
            <th class="text-center">Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for user in users %}
        <tr>
            <td class="hidden-xs">
                {{ loop.index }}
            </td>
            <td>
                {{ user.email }}
                {% if is_granted(constant('\\Agfa\\UserBundle\\Entity\\User::ROLE_ADMIN')) %}
                {{ user.roles|hasAdvancedRights|raw }}
                {% endif %}
            </td>
            <td class="hidden-xs">
                {% if user.createdAt %}
                {{ user.createdAt|format_datetime(null, locale, timezone, constant('IntlDateFormatter::SHORT'), constant('IntlDateFormatter::SHORT')) }}
                {% endif %}
            </td>
            <td class="hidden-xs">
                {% if user.lastLogin %}
                {{ user.lastLogin|format_datetime(null, locale, timezone, constant('IntlDateFormatter::SHORT'), constant('IntlDateFormatter::SHORT')) }}
                {% endif %}
            </td>
            <td class="text-center">
                <div class="btn-group">
                    <a href="{{ path('admin_journal', {'user':user.id}) }}" class="btn btn-default btn-sm">
                        <i class="fa fa-file-text-o"></i>
                    </a>
                    <a href="{{ path('admin_demande', {'user':user.id}) }}" class="btn btn-sm btn-default">
                        <i class="fa fa-eur"></i>
                    </a>
                </div>
                {% if is_granted(constant('\\Agfa\\UserBundle\\Entity\\User::ROLE_SUPPORT')) %}
                {{ form_start(formsEnableUser[user.id]) }}
                <button class="btn btn-sm {% if user.isEnabled %} btn-success{% else %} btn-danger{% endif %}">
                    <i class="fa fa-{% if user.isEnabled %}lock{% else %}unlock{% endif %}"></i>
                </button>
                {{ form_end(formsEnableUser[user.id]) }}
                {% endif %}
                {% if is_granted(constant('\\Agfa\\UserBundle\\Entity\\User::ROLE_LABO')) %}
                {{ form_start(formsEnableDebug[user.id]) }}
                <div class="btn-group">
                    {% if is_granted(constant('\\Agfa\\UserBundle\\Entity\\User::ROLE_SUPPORT')) %}
                    <button class="btn btn-sm {% if constant('\\Agfa\\UserBundle\\Entity\\User::ROLE_DEBUG') in user.roles %} btn-success{% else %}btn-default{% endif %}">
                        <i class="fa fa-bug"></i>
                    </button>
                    {% endif %}
                    <a href="{{ path('default_index', {'_wannabe':user.username}) }}" class="btn btn-default btn-sm">
                        <i class="fa fa-user-circle-o"></i>
                    </a>
                </div>
                {{ form_end(formsEnableDebug[user.id]) }}
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endif %}