{% extends "::security.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}
{% block titlePage %}
Création de compte - confirmer votre email
{% endblock %}
{% block form %}
<p>{{ 'registration.check_email'|trans({'%email%': user.email, '%pathAide%': path('default_faq')~'#no-mail'})|raw }}</p>
<div class="text-right">
    <a href="{{ path('default_index') }}" class="btn btn-primary">Retour à l'accueil</a>
</div>
{% endblock %}
