{% extends "::security.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}
{% block titlePage %}
Création de compte confirmée
{% endblock %}
{% block form %}
<p>{{ 'registration.confirmed'|trans({'%username%': user.username}) }}</p>
<p><a href="{{ path('default_index') }}">{{ 'registration.homepage'|trans }}</a></p>
{% endblock %}
