{% trans_default_domain 'FOSUserBundle' %}

{% block subject %}
{% autoescape false %}
{{ 'registration.email.subject'|trans }}
{% endautoescape %}
{% endblock %}

{% block body_text %}
{% autoescape false %}
{{ 'registration.email.message'|trans({'%username%': user.username, '%confirmationUrl%': confirmationUrl, '%client_brand%':client_brand, '%app_name%':app_name}) }}
{% endautoescape %}
{% endblock %}

{% block body_html %}{% endblock %}
