{% extends "::security.html.twig" %}
{% block titlePage %}
{{ 'agfa.fosuser_bundle.registration.register.title_page' | trans }}
{% endblock %}
{% block panel_title %}
{{ 'agfa.fosuser_bundle.registration.register.title_h1' | trans }}
<span class="pull-right"><small><a href="#" data-toggle="modal" data-target="#myModal">Voir une vidéo</a></small></span>
{% endblock %}
{% block form %}
{% include "FOSUserBundle:Registration:register_content.html.twig" %}
<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">Comment créer votre compte ?</h4>
            </div>
            <div class="modal-body">
                <div class="text-center embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" width="1120" height="630" src="{{ config.getVideoTutorialRegister }}" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Revenir à la création de mon compte</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}
