{% trans_default_domain 'FOSUserBundle' %}
{{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register', 'novalidate':'novalidate'}}) }}
<p>
    Créez votre compte et bénéficiez d'un espace de stockage gratuit et sécurisé pour tous vos résultats <strong>{{ client_brand }}</strong>.
</p>
<div class="well">
    <div class="form-group">
        {{ form_row(form.email, {'attr':{'autofocus':'true', 'tabindex':'1', 'placeholder':'agfa.fosuser_bundle.registration.register.placeholder.email'|trans({}, 'messages')}}) }}
        <br />
    </div>
    <div class="form-group">
        {{ form_row(form.plainPassword.first, {'attr':{'tabindex':'2', 'placeholder':'agfa.fosuser_bundle.registration.register.placeholder.psswd'|trans({}, 'messages')}}) }}
        <p class="text-muted">8 caractères min. dont un chiffre, une majuscule et une minuscule.</p>
    </div>
    <div class="form-group">
        {{ form_row(form.plainPassword.second, {'attr':{'tabindex':'3', 'placeholder':'agfa.fosuser_bundle.registration.register.placeholder.psswd_conf'|trans({}, 'messages')}}) }}
    </div>
</div>
<hr />
<h5>Données fournies par votre laboratoire afin de récupérer votre compte rendu :</h5>
<div class="well">
    <div class="form-group">
        {{ form_errors(form) }}
        {{ form_row(form.registrationId, {'attr':{'tabindex':'4', 'placeholder':'agfa.hpa_bundle.enrolment.form.placeholder.id'|trans({}, 'messages')}}) }}
    </div>
    <br />
    <div class="form-group">
        {{ form_row(form.dob, {'attr':{
        'data-inputmask-inputformat' : 'dd/mm/yyyy',
        'data-inputmask-alias' : 'date',
        'tabindex':'5', 'placeholder':'agfa.hpa_bundle.enrolment.form.placeholder.psswd'|trans({}, 'messages')}}) }}
    </div>
</div>
<p>
    En cliquant sur "
    {{ 'registration.submit'|trans }}
    ", vous acceptez nos <a href="{{ path('default_cgu') }}" target="_blank">Conditions d'Utilisation</a>.
</p>
<br />
<div class="text-right">
    <button class="btn btn-primary" type="submit">
        {{ 'registration.submit'|trans({}, 'FOSUserBundle') }}
    </button>
    <a class="btn btn-link" href="{{ path('default_index') }}">Annuler</a>
</div>
{{ form_end(form) }}
