{% extends '::layout-public.html.twig' %}
{% block titlePage %}
{{ 'agfa.web_bundle.default.homepage.title_page' | trans }}
{% endblock %}
{% block body %}
<div class="row">
    <div class="col-md-6 col-md-push-3">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">La page que vous demandez n'a pas été trouvée</h3>
            </div>
            <div class="panel-body">
                <p>Cette page n'existe pas ou a été déplacée.</p>
                <p>Nous vous invitons à revenir à la <a href="{{ path('default_index') }}">page d'accueil</a>.</p>
            </div>
            <div class="panel-footer text-right">
                <a href="{{ path('default_index') }}" class="btn btn-primary">Aller à l'accueil</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}