{% extends '::layout-public.html.twig' %}
{% block titlePage %}
{{ 'agfa.web_bundle.default.homepage.title_page' | trans }}
{% endblock %}
{% block body %}
<div class="row">
    <div class="col-md-6 col-md-push-3">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Vous n'avez pas accès à cette page</h3>
            </div>
            <div class="panel-body">
                <p>Les droits dont vous disposez ne vous permettent pas d'accèder à cette page</p>
            </div>
            <div class="panel-footer text-right">
                <a href="{{ path('default_index') }}" class="btn btn-primary">Accueil</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}