{% extends '::layout-private.html.twig' %}
{% block titleH1 %}
Comptes utilisateurs
{% endblock %}
{% block titlePage %}
Comptes utilisateurs
{% endblock %}
{% block breadcrumb %}
<li><a href="{{ path('default_index') }}">Accueil</a></li>
<li>Admin</li>
<li class="active">Utilisateurs</li>
{% endblock %}
{% block body -%}
<div class="row">
    <div class="col-sm-12 col-md-10 col-md-push-1">
        <div id="searcharea" class="text-right">
            <form action="" class="form-inline">
                <div class="form-group">
                    <label for="">Entrez l'adresse email de l'utilisateur</label>
                    <input type="search" name="searchTerms" id="search" placeholder="adresse email" value="{{ searchTerms }}" class="form-control" />
                    <button type="submit" class="btn btn-primary">Chercher</button>
                    <a href="{{ path('admin_user') }}" class="btn btn-md btn-default"><i class="fa fa-remove"></i></a>
                </div>
            </form>
            <hr />
        </div>
        <div id="update">
            {% include ':Admin/User:ajax/list-users.html.twig' %}
        </div>
    </div>
</div>
{% endblock %}
