{% extends '::layout-private.html.twig' %}
{% block titleH1 %}
Rechercher les comptes rendus
<small>{{ personne_du_contexte.nomComplet }}</small>
{% endblock %}
{% block titlePage %}
Rechercher les comptes rendus
{% endblock %}
{% block breadcrumb %}
<li><a href="{{ path('default_index') }}">Accueil</a></li>
<li class="active">Recherche</li>
{% endblock %}
{% block body %}
<div class="row">
    <div class="col-sm-3">
        <div class="well">
            <p>Renseignez vos critères de recherche afin de filtrer les résultats affichés</p>
            {{ form_start(form) }}
            {{ form_row(form.examen) }}
            <br />
            {{ form_row(form.prescripteur) }}
            <br />
            {{ form_row(form.laboratoire) }}
            <br />
            {{ form_row(form.datePrelevementDebut) }}
            <br />
            {{ form_row(form.datePrelevementFin) }}
            <br />
            <br />
            <div class="text-right">
                {{ form_widget(form.submit, {'attr':{'class':'btn-block'}}) }}
            </div>
            {{ form_end(form) }}
        </div>
    </div>
    <div class="col-sm-9">
        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
            {% include '::include/list-element.html.twig' with {'demandes':demandes} %}
        </div>
    </div>
</div>
{% stylesheets '%kernel.root_dir%/Resources/public/js/flatpickr-master/dist/flatpickr.min.css' %}
<link href="{{ asset_url }}" type="text/css" rel="stylesheet" />
{% endstylesheets %}
{% javascripts 
        '%kernel.root_dir%/Resources/public/js/flatpickr-master/dist/flatpickr.min.js'
        '%kernel.root_dir%/Resources/public/js/flatpickr-master/dist/l10n/fr.js' 
        filter='uglifyjs2'
        %}
<script src="{{ asset_url }}"></script>
{% endjavascripts %}
<script>
	//Search form date picker
	new flatpickr('#recherche_demande_datePrelevementDebut', {
		"locale" : "fr",
		"dateFormat" : "d/m/Y",
		"altInput" : true,
		"altFormat" : "l j F Y",
        "maxDate" : "today"
	});

	new flatpickr('#recherche_demande_datePrelevementFin', {
		"locale" : "fr",
		"dateFormat" : "d/m/Y",
		"altInput" : true,
		"altFormat" : "l j F Y",
        "maxDate" : "today"
	});
</script>
{% endblock %}