{% extends '::layout-private.html.twig' %}
{% block titlePage %}
{{ 'agfa.fosuser_bundle.change_password.title_page' | trans }}
{% endblock %}
{% block breadcrumb %}
<li><a href="{{ path('default_index') }}">{{ 'agfa.breadcrumb.accueil'|trans({}, 'messages') }}</a></li>
<li><a href="{{ path('configuration_account') }}">{{ 'agfa.breadcrumb.account'|trans({}, 'messages') }}</a></li>
<li class="active">{{ 'agfa.breadcrumb.password'|trans({}, 'messages') }}</li>
{% endblock %}
{% block body %}
<div class="row">
    <div class="col-md-4 col-md-push-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Modifier mon mot de passe</h3>
            </div>
            <div class="panel-body">
                {% include "FOSUserBundle:ChangePassword:change_password_content.html.twig" %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
