{% trans_default_domain 'FOSUserBundle' %}
{{ form_start(form, { 'action': path('fos_user_change_password'), 'attr': { 'class': 'fos_user_change_password', 'novalidate':'novalidate' } }) }}
<div class="form-group">
    {{ form_row(form.current_password, {'attr':{'tabindex':'1'}}) }}
</div>
<br />
<div class="form-group">
    {{ form_row(form.plainPassword.first, {'attr':{'tabindex':'2', 'autofocus':'true'}}) }}
    <p class="text-muted">8 caractères min. dont un chiffre, une majuscule et une minuscule.</p>
</div>
<div class="form-group">
    {{ form_row(form.plainPassword.second, {'attr':{'tabindex':'3'}}) }}
</div>
<br />
<div class="text-right">
    <button class="btn btn-primary" type="submit">
        {{ 'change_password.submit'|trans }}
    </button>
    <a href="{{ path('configuration_account') }}" class="btn btn-default">Annuler</a>
</div>
{{ form_end(form) }}

