<footer>
    <div class="container">
        <br />
        <div class="row">
            <div class="col-xs-5">
                <ul class="list-inline">
                    <li><a href="{{ path('default_faq') }}">
                            {{ 'global.menu.help'|trans }}
                        </a></li>
                        {# {% if is_granted('IS_AUTHENTICATED_FULLY') %}#} 
                        {# -#} 
                        {# <li><a href="{{ path('default_user_guide') }}">{{ 'global.menu.user_guide'|trans }}</a></li>#} 
                        {# {% endif %}#}
                </ul>
            </div>
            <div class="col-xs-7 text-right">
                <p>
                    <a href="{{ path('default_cgu') }}">
                        &copy;
                        {{ "now"|date('Y') }}
                        {{ copyright }}
                    </a>
                    {% if is_granted('IS_AUTHENTICATED_FULLY') and app.session.get('last_login') %}
                    <br />
                    {{ 'agfa.global.last_login'|trans }}
                    <a href="{{ path('configuration_securite') }}">
                        {{ app.session.get('last_login')|format_datetime(null, locale, timezone) }}
                    </a>
                    {% endif %}
                    {% if is_granted('ROLE_DEBUG') %}
                    <br />
                    HPA
                    {{ version_application }}
                    -
                    {{ app.user.email }}
                    {% for role
                    in app.user.roles %}
                    <span class="label label-success">{{ role|trans }}</span>
                    {% endfor %}
                    {% endif %}
                </p>
            </div>
        </div>
{#         <div class="row">#}
{#             <div class="col-md-12 text-right">#}
{#                 {% image '%kernel.root_dir%/Resources/public/img/logo-agfa.png' %}#}
{#                 <img alt="Logo Agfa Healthcare" src="{{ asset_url }}" class="logo-agfa">#}
{#                 {% endimage %}#}
{#             </div>#}
{#         </div>#}
    </div>
</footer>
{% javascripts 
        'js/jquery.js'
        'js/bootstrap.js'
        'bundles/fosjsrouting/js/router.js'
        '%kernel.root_dir%/Resources/public/js/agfa.js' 
        filter='uglifyjs2'
    %}
<script src="{{ preload(asset_url) }}" defer></script>
{% endjavascripts %}
{% javascripts 
        '%kernel.root_dir%/Resources/public/js/Inputmask-3.x/dist/jquery.inputmask.bundle.js'
        '%kernel.root_dir%/Resources/public/js/inputmask.js'
    %}
<script src="{{ preload(asset_url) }}" defer></script>
{% endjavascripts %}
<!--[if lt IE 9]>
    <script src="{{ preload(asset('%kernel.root_dir%/Resources/public/js/agfa.upgrade-browser.js')) }}" defer></script>
<![endif]-->
<script src="{{ preload(path('fos_js_routing_js', {"callback": "fos.Router.setData"})) }}" defer></script>
<script>
  if ('serviceWorker' in navigator) {
    console.log("Will the service worker register?");
    navigator.serviceWorker.register('/sw.js')
      .then(function(reg){
        console.log("Yes, it did.");
      }).catch(function(err) {
        console.log("No it didn't. This happened: ", err)
      });
  }
</script>
{% include '::piwik.html.twig' %}
