{% if titlePage is not empty %}
{% set titlePage = titlePage~' - ' %}
{% elseif titleH1 is not empty %}
{% set titlePage = titleH1~' - ' %}
{% endif %}
<title>{{ titlePage|raw  }}{{ client_brand|raw  }}</title>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="google-site-verification" content="{{ google_site_verification }}" />
<meta name="theme-color" content="{{ client_theme_color }}">
<meta name="msapplication-navbutton-color" content="{{ client_theme_color }}">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="apple-mobile-web-app-status-bar-style" content="{{ client_theme_color }}">
<meta name="mobile-web-app-capable" content="yes">
<link rel="manifest" href="/manifest.json">
{% image '%kernel.root_dir%/Resources/public/css/theme/%client_theme%/apple-icon-57x57.png' %}<link rel="apple-touch-icon" sizes="57x57" href="{{ asset_url }}" />{% endimage %}
{% image '%kernel.root_dir%/Resources/public/css/theme/%client_theme%/apple-icon-60x60.png' %}<link rel="apple-touch-icon" sizes="60x60" href="{{ asset_url }}" />{% endimage %}
{% image '%kernel.root_dir%/Resources/public/css/theme/%client_theme%/apple-icon-72x72.png' %}<link rel="apple-touch-icon" sizes="72x72" href="{{ asset_url }}" />{% endimage %}
{% image '%kernel.root_dir%/Resources/public/css/theme/%client_theme%/apple-icon-76x76.png' %}<link rel="apple-touch-icon" sizes="76x76" href="{{ asset_url }}" />{% endimage %}
{% image '%kernel.root_dir%/Resources/public/css/theme/%client_theme%/apple-icon-114x114.png' %}<link rel="apple-touch-icon" sizes="114x114" href="{{ asset_url }}" />{% endimage %}
{% image '%kernel.root_dir%/Resources/public/css/theme/%client_theme%/apple-icon-120x120.png' %}<link rel="apple-touch-icon" sizes="120x120" href="{{ asset_url }}" />{% endimage %}
{% image '%kernel.root_dir%/Resources/public/css/theme/%client_theme%/apple-icon-144x144.png' %}<link rel="apple-touch-icon" sizes="144x144" href="{{ asset_url }}" />{% endimage %}
{% image '%kernel.root_dir%/Resources/public/css/theme/%client_theme%/apple-icon-152x152.png' %}<link rel="apple-touch-icon" sizes="152x152" href="{{ asset_url }}" />{% endimage %}
{% image '%kernel.root_dir%/Resources/public/css/theme/%client_theme%/apple-icon-180x180.png' %}<link rel="apple-touch-icon" sizes="180x180" href="{{ asset_url }}" />{% endimage %}
{% image '%kernel.root_dir%/Resources/public/css/theme/%client_theme%/android-icon-192x192.png' %}<link rel="icon" type="image/png" sizes="192x192" href="{{ asset_url }}" />{% endimage %}
{% image '%kernel.root_dir%/Resources/public/css/theme/%client_theme%/favicon-32x32.png' %}<link rel="apple-touch-icon" sizes="32x32" href="{{ asset_url }}" />{% endimage %}
{% image '%kernel.root_dir%/Resources/public/css/theme/%client_theme%/favicon-96x96.png' %}<link rel="apple-touch-icon" sizes=96x96 href="{{ asset_url }}" />{% endimage %}
{% image '%kernel.root_dir%/Resources/public/css/theme/%client_theme%/favicon-16x16.png' %}<link rel="apple-touch-icon" sizes="16x16" href="{{ asset_url }}" />{% endimage %}
{% image '%kernel.root_dir%/Resources/public/css/theme/%client_theme%/ms-icon-144x144.png' %}<meta name="msapplication-TileImage" content="{{ asset_url }}">{% endimage %}
<link href="{{ preload(asset('css/bootstrap.css')) }}" type="text/css" rel="stylesheet" media="all">
{% stylesheets filter='sass,uglifycss' output='css/*.css' '@globalCss' %}
<link href="{{ asset_url }}" type="text/css" rel="stylesheet" media="all" />
{% endstylesheets %}
{% include 'BraincraftedBootstrapBundle::ie8-support.html.twig' %}