{# used in recherche/recherche_demande, demande/recherche and accueil/table #}
{% for demande in demandes %}
{% if demande.isNew %}
{% if loop.first %}
<h3>{{ 'agfa.hpa_bundle.demande.list.titleH3.new'|trans }}</h3>
{% endif %}
{% set reportListRight = "reports-list-right-high" %}
{% set reportListLeft = "reports-list-left-high" %}
{% if showCr[demande.id] == constant('\\Agfa\\HpaBundle\\Controller\\DemandeController::SHOW_CONDITIONAL') %}
{% set reportListRight = 'reports-list-right-higher' %}
{% set reportListLeft = 'reports-list-left-higher' %}
{% endif %}
<div class="row">
    <div class="col-md-12">
{# Non read for desktops #}
        <div class="contentReportPrimary contentReportPrimary{{ demande.id }} hidden-xs hidden-sm">
            <div class="col-md-8 reports-list-left {{ reportListLeft }}" data-id="{{ demande.id }}">
                {% if demande.datePrelevement or demande.dateAccueil %}
                <h4 class="list-group-item-heading"><a class="showDetails" href="#"> 
                {% if demande.dateAccueil %} 
                {{ demande.dateAccueil|format_datetime('EEEE d MMMM YYYY, HH:mm', locale, timezone)|title }} 
                {% elseif demande.datePrelevement %} 
                {{ demande.datePrelevement|format_datetime('EEEE d MMMM YYYY, HH:mm', locale, timezone)|title }} 
                {% endif %} <span class="pull-right"><i class="fa fa-info-circle"></i></span>
                </a>
                {% if is_granted('ROLE_DEBUG') %}
                <a href="#" data-toggle="tooltip" title="{{ demande|getDebugInfo }}" class="text-danger" class="text-danger"><i class="fa fa-wrench"></i></a>
                {% endif %}
                {% if demande.isUpdated == true %}
                <a href="#" data-toggle="tooltip" title="Ce dossier à été mis à jour le {{ demande.updatedAt|format_datetime(null, locale, timezone) }}" class="text-danger" class="text-danger">
                    <i class="fa fa-exclamation-triangle"></i>
                </a>
                {% endif %}
                </h4>
                {% endif %}
                <div class="row">
                    <div class="col-md-6">
                        <strong><i class="fa fa-user fa-fw"></i> Patient</strong>
                    </div>
                    <div class="col-md-6">
                        {{ demande.patient.nomComplet }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <strong><i class="fa fa-user-md fa-fw"></i> Médecin prescripteur</strong>
                    </div>
                    <div class="col-md-6">
                        {{ demande.nomPrescripteur }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <strong><i class="fa fa-home fa-fw"></i> Laboratoire</strong>
                    </div>
                    <div class="col-md-6">
                        {{ demande.etablissement.nom }}
                        ,
                        {{ demande.etablissement.ville }} - Téléphone : {{ demande.etablissement.telephone|formatPhoneNumberFr }}
                    </div>
                </div>
            </div>
            {% if showCr[demande.id] == constant('\\Agfa\\HpaBundle\\Controller\\DemandeController::HIDE_CR') %}
            <a href="{{ path('paiement_confirm', {'demandeId':demande.id}) }}" class="piwik_download reports-list-right {{ reportListRight }}">
                <div class="col-md-4">
                    <br />
                    <i class="fa fa-eur fa-4x"></i>
                    <br />
                    <br />
                    Régler pour
                    <br />
                    visualiser ce compte rendu
                </div>
            </a>
            {% elseif showCr[demande.id] == constant('\\Agfa\\HpaBundle\\Controller\\DemandeController::SHOW_CONDITIONAL') %}
            <div class="reports-list-right {{ reportListRight }}">
                <div class="col-md-4">
                    <a href="{{ path('demande_download',{'demandeId':demande.id}) }}" class="piwik_download"> <br /> <i class="fa fa-file-pdf-o fa-4x"></i> <br /> <br /> Télécharger pour <br /> visualiser ce compte rendu
                    </a>
                    <div class="row">
                        <div class="col-md-12">
                            <br />
                            <a href="{{ path('paiement_confirm', {'demandeId':demande.id}) }}" class="piwik_download btn btn-primary btn-block {{ reportListRight }}" class="btn btn-primary btn-sm btn-block"> <i class="fa fa-euro"></i> Payer en ligne
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            {% else %}
            <a href="{{ path('demande_download',{'demandeId':demande.id}) }}" class="piwik_download reports-list-right {{ reportListRight }}">
                <div class="col-md-4">
                    <br />
                    <i class="fa fa-file-pdf-o fa-4x"></i>
                    <br />
                    <br />
                    Télécharger pour
                    <br />
                    visualiser ce compte rendu
                </div>
            </a>
            {% endif %}
        </div>

{# Non read CR for mobile devices #}
        <div class="contentReportPrimarySm contentReportPrimarySm{{ demande.id }} visible-xs  visible-sm">
            <div class="col-xs-12 reports-list-left-sm" data-id="{{ demande.id }}">
                {% if demande.datePrelevement or demande.dateAccueil %}
                <h4 class="list-group-item-heading"><a class="showDetails" href="#"> 
                {% if demande.dateAccueil %} 
                {{ demande.dateAccueil|format_datetime('EEEE d MMMM YYYY, HH:mm', locale, timezone)|title }} 
                {% elseif demande.datePrelevement %} 
                {{ demande.datePrelevement|format_datetime('EEEE d MMMM YYYY, HH:mm', locale, timezone)|title }} 
                {% endif %} 
                <span class="pull-right"><i class="fa fa-info-circle"></i></span>
                </a>
                {% if is_granted('ROLE_DEBUG') %}
                <a href="#" data-toggle="tooltip" title="{{ demande|getDebugInfo }}" class="text-danger"><i class="fa fa-wrench"></i></a>
                {% endif %}
                {% if demande.isUpdated == true %}
                <a href="#" data-toggle="tooltip" title="Ce dossier à été mis à jour le {{ demande.updatedAt|format_datetime(null, locale, timezone) }}" class="text-danger" class="text-danger">
                    <i class="fa fa-exclamation-triangle"></i>
                </a>
                {% endif %}
                </h4>
                {% endif %}
                <div class="row">
                    <div class="col-md-6">
                        <strong><i class="fa fa-user fa-fw"></i> Patient</strong>
                    </div>
                    <div class="col-md-6">
                        {{ demande.patient.nomComplet }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <strong><i class="fa fa-user-md fa-fw"></i> Médecin prescripteur</strong>
                    </div>
                    <div class="col-md-6">
                        {{ demande.nomPrescripteur }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <strong><i class="fa fa-home fa-fw"></i> Laboratoire</strong>
                    </div>
                    <div class="col-md-6">
                        {{ demande.etablissement.nom }}
                        ,
                        {{ demande.etablissement.ville }} - Téléphone : {{ demande.etablissement.telephone|formatPhoneNumberFr }}
                    </div>
                </div>
                <br />
                {% if showCr[demande.id] == constant('\\Agfa\\HpaBundle\\Controller\\DemandeController::HIDE_CR') %}
                <a href="{{ path('paiement_confirm', {'demandeId':demande.id}) }}" class="piwik_download btn btn-primary btn-block">
                    <i class="fa fa-eur"></i>
                    Régler ce compte rendu
                </a>
                {% elseif showCr[demande.id] == constant('\\Agfa\\HpaBundle\\Controller\\DemandeController::SHOW_CONDITIONAL') %}
                    <div class="text-right">
                        <a href="{{ path('demande_download',{'demandeId':demande.id}) }}" class="piwik_download btn btn-primary visible-xs visible-sm btn-block"><i class="fa fa-file-pdf-o"></i> Télécharger ce compte rendu</a>    
                        <a href="{{ path('paiement_confirm', {'demandeId':demande.id}) }}" class="piwik_download btn btn-primary visible-xs visible-sm btn-block {{ reportListRight }}" class="btn btn-primary btn-sm btn-block"> <i class="fa fa-euro"></i> Payer en ligne</a>                  
                    </div>
                {% else %}
                    <div class="text-right">
                        <a href="{{ path('demande_download',{'demandeId':demande.id}) }}" class="piwik_download btn btn-primary visible-xs btn-block">
                            <i class="fa fa-file-pdf-o"></i>
                            Télécharger ce compte rendu
                        </a>
                    </div>
                {% endif %}
            </div>
        </div>
             
{# Extended non read CR for mobile devices #}
        <div class="col-md-12 contentReportSecondarySm contentReportSecondarySm{{ demande.id }}" style="display: none" id="contentReportSecondarySm{{ demande.id }}" data-id="{{ demande.id }}">
            {% if demande.datePrelevement or demande.dateAccueil %}
            <h4 class="list-group-item-heading"><a class="showDetails" href="#"> 
            {% if demande.dateAccueil %} 
            {{ demande.dateAccueil|format_datetime('EEEE d MMMM YYYY, HH:mm', locale, timezone)|title }} 
            {% elseif demande.datePrelevement %} 
            {{ demande.datePrelevement|format_datetime('EEEE d MMMM YYYY, HH:mm', locale, timezone)|title }} 
            {% endif %} <span class="pull-right"><i class="fa fa-remove"></i></span>
            </a>
            {% if is_granted('ROLE_DEBUG') %}
            <a href="#" data-toggle="tooltip" title="{{ demande|getDebugInfo }}" class="text-danger"><i class="fa fa-wrench"></i></a>
            {% endif %}
            {% if demande.isUpdated == true %}
            <a href="#" data-toggle="tooltip" title="Ce dossier à été mis à jour le {{ demande.updatedAt|format_datetime(null, locale, timezone) }}" class="text-danger" class="text-danger">
                <i class="fa fa-exclamation-triangle"></i>
            </a>
            {% endif %}
            </h4>
            {% endif %}
            <div class="row">
                <div class="col-md-6">
                    <strong><i class="fa fa-user fa-fw"></i> Patient</strong>
                </div>
                <div class="col-md-6">
                    {{ demande.patient.nomComplet }}
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <strong><i class="fa fa-user-md fa-fw"></i> Médecin prescripteur</strong>
                </div>
                <div class="col-md-6">
                    {{ demande.nomPrescripteur }}
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <strong><i class="fa fa-home fa-fw"></i> Laboratoire</strong>
                </div>
                <div class="col-md-6">
                    {{ demande.etablissement.nom }}
                    ,
                    {{ demande.etablissement.ville }} - Téléphone : {{ demande.etablissement.telephone|formatPhoneNumberFr }}
                </div>
            </div>
            <br />
            {% if resultats[demande.id] is defined and resultats[demande.id]|length > 0 %}
            <p>Les examens présents dans ce compte rendu :</p>
            <ul>
                {% for result in resultats[demande.id] %}
                <li>{{ result.libelle }}</li>
                {% endfor %}
            </ul>
            {% endif %}
            <br />
            <div class="text-right">
                <a class="btn btn-danger visible-xs visible-sm btn-block" href="{{ path('demande_delete_confirmation', {'demandeId':demande.id}) }}"> <i class="fa fa-trash"></i> Supprimer ce compte rendu...</a>
                {% if demande.etablissement.paiement and (demande.etablissement.paiement.affichageCr == TRUE or (demande.etablissement.paiement.affichageCr == FALSE and demande.paieSolde == 0) or demande.etablissement.paiement.actif == FALSE) or demande.etablissement.paiement == null %}
                    <a href="{{ path('demande_download',{'demandeId':demande.id}) }}" class="piwik_download btn btn-primary visible-xs visible-sm btn-block"> <i class="fa fa-file-pdf-o"></i> Télécharger ce compte rendu</a>
                {% endif %}
                {% if demande.etablissement.paiement and demande.etablissement.paiement.actif == true and demande.paieSolde > 0 %}
                    <a href="{{ path('paiement_confirm', {'demandeId':demande.id}) }}" class="piwik_download btn btn-primary visible-xs visible-sm btn-block {{ reportListRight }}" class="btn btn-primary btn-sm btn-block"> <i class="fa fa-euro"></i> Payer en ligne</a>                  
                {% endif %}
            </div>
        </div>


{# Extended non read CR for desktops #}
        <div class="col-md-12 contentReportSecondary contentReportSecondary{{ demande.id }}" style="display: none" id="contentReportSecondary{{ demande.id }}" data-id="{{ demande.id }}">
            {% if demande.datePrelevement or demande.dateAccueil %}
            <h4 class="list-group-item-heading"><a class="showDetails" href="#">
            {% if demande.dateAccueil %} 
            {{ demande.dateAccueil|format_datetime('EEEE d MMMM YYYY, HH:mm', locale, timezone)|title }} 
            {% elseif demande.datePrelevement %} 
            {{ demande.datePrelevement|format_datetime('EEEE d MMMM YYYY, HH:mm', locale, timezone)|title }} 
            {% endif %} <span class="pull-right"><i class="fa fa-remove"></i></span>
            </a>
            {% if is_granted('ROLE_DEBUG') %}
            <a href="#" data-toggle="tooltip" title="{{ demande|getDebugInfo }}" class="text-danger"><i class="fa fa-wrench"></i></a>
            {% endif %}
            {% if demande.isUpdated == true %}
            <a href="#" data-toggle="tooltip" title="Ce dossier à été mis à jour le {{ demande.updatedAt|format_datetime(null, locale, timezone) }}" class="text-danger" class="text-danger">
                <i class="fa fa-exclamation-triangle"></i>
            </a>
            {% endif %}
            </h4>
            {% endif %}
            <div class="row">
                <div class="col-md-6">
                    <strong><i class="fa fa-user fa-fw"></i> Patient</strong>
                </div>
                <div class="col-md-6">
                    {{ demande.patient.nomComplet }}
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <strong><i class="fa fa-user-md fa-fw"></i> Médecin prescripteur</strong>
                </div>
                <div class="col-md-6">
                    {{ demande.nomPrescripteur }}
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <strong><i class="fa fa-home fa-fw"></i> Laboratoire</strong>
                </div>
                <div class="col-md-6">
                    {{ demande.etablissement.nom }}
                    ,
                    {{ demande.etablissement.ville }} - Téléphone : {{ demande.etablissement.telephone|formatPhoneNumberFr }}
                </div>
            </div>
            <br />
            {% if resultats[demande.id] is defined and resultats[demande.id]|length > 0 %}
            <p>Les examens présents dans ce compte rendu :</p>
            <ul>
                {% for result in resultats[demande.id] %}
                <li>{{ result.libelle }}</li>
                {% endfor %}
            </ul>
            {% endif %}
            <br />
            <div class="text-right">
                <a class="btn btn-danger hidden-xs" href="{{ path('demande_delete_confirmation', {'demandeId':demande.id}) }}"> <i class="fa fa-trash"></i> Supprimer ce compte rendu...</a>
                {% if demande.etablissement.paiement and (demande.etablissement.paiement.affichageCr == TRUE or (demande.etablissement.paiement.affichageCr == FALSE and demande.paieSolde == 0) or demande.etablissement.paiement.actif == FALSE) or demande.etablissement.paiement == null %}
                <a href="{{ path('demande_download',{'demandeId':demande.id}) }}" class="piwik_download btn btn-primary hidden-xs"> <i class="fa fa-file-pdf-o"></i> Télécharger ce compte rendu</a>
                {% endif %}                
                {% if demande.etablissement.paiement and demande.etablissement.paiement.actif == TRUE and demande.paieSolde > 0 %}
                <a href="{{ path('paiement_confirm', {'demandeId':demande.id}) }}" class="piwik_download btn btn-primary hidden-xs {{ reportListRight }}" class="btn btn-primary btn-sm btn-block"> <i class="fa fa-euro"></i> Payer en ligne</a>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% else %}

{# Read CR #}
{% if titleIsShown is not defined %}
<h3>{{ 'agfa.hpa_bundle.demande.list.titleH3.seen'|trans }}</h3>
{% endif %}
{% set titleIsShown = 'true' %}
<div class="row">
    <div class="col-sm-12">
        <div class="cr-read-short cr-read-short{{ demande.id }}" data-id="{{ demande.id }}">
            {% if demande.datePrelevement or demande.dateAccueil %}
            <h4 class="list-group-item-heading"><a href="#" class="showDetails"> 
            {% if demande.dateAccueil %} {{ demande.dateAccueil|format_datetime('EEEE d MMMM YYYY, HH:mm', locale, timezone)|title }}             
            {% elseif demande.datePrelevement %} {{ demande.datePrelevement|format_datetime('EEEE d MMMM YYYY, HH:mm', locale, timezone)|title }} 
            {% endif %} <span class="pull-right"><i class="fa fa-info-circle"></i></span>
            </a>
            {% if is_granted('ROLE_DEBUG') %}
            <a href="#" data-toggle="tooltip" title="{{ demande|getDebugInfo }}" class="text-danger"><i class="fa fa-wrench"></i></a>
            {% endif %}
            </h4>
            {% endif %}
            <p class="list-group-item-text">
                <i class="fa fa-user fa-fw"></i>
                {{ demande.patient.nomComplet }}
                <br />
                <i class="fa fa-user-md fa-fw"></i>
                {{ demande.nomPrescripteur }}
                <br>
                {# Rewrite the query so that the chapitre data has a hadSelect('ch') #} {#<span class="fa fa-medkit fa-fw"></span> {{ demande.chapitres|join(', ') }}<br>#} 
                <i class="fa fa-home fa-fw"></i>
                {{ demande.etablissement.nom }}
                ,
                {{ demande.etablissement.ville }} - Téléphone : {{ demande.etablissement.telephone|formatPhoneNumberFr }}
            </p>
            <br />
            <div class="text-right">
                {% if demande.etablissement.paiement and demande.etablissement.paiement.actif == TRUE and demande.paieSolde > 0 %}
                <a href="{{ path('paiement_confirm', {'demandeId':demande.id}) }}" class="btn btn-primary hidden-xs" class="btn btn-primary btn-sm"> <i class="fa fa-euro"></i> Payer en ligne</a>
                <a href="{{ path('paiement_confirm', {'demandeId':demande.id}) }}" class="btn btn-primary visible-xs" class="btn btn-primary btn-sm btn-block"> <i class="fa fa-euro"></i> Payer en ligne</a>
                {% endif %}
                <a href="{{ path('demande_download',{'demandeId':demande.id}) }}" class="piwik_download btn btn-primary hidden-xs"> <i class="fa fa-file-pdf-o"></i> Télécharger pour visualiser ce compte rendu</a>
                <a href="{{ path('demande_download',{'demandeId':demande.id}) }}" class="piwik_download btn btn-primary visible-xs btn-block"> <i class="fa fa-file-pdf-o"></i> Télécharger ce compte rendu</a>
            </div>
        </div>
        <div class="cr-read-extended cr-read-extended{{ demande.id }}" style="display: none" id="contentReportSecondary{{ demande.id }}" data-id="{{ demande.id }}">
            {% if demande.datePrelevement or demande.dateAccueil %}
            <h4 class="list-group-item-heading"><a href="#" class="showDetails"> 
            {% if demande.dateAccueil %} {{ demande.dateAccueil|format_datetime('EEEE d MMMM YYYY, HH:mm', locale, timezone)|title }} 
            {% elseif demande.datePrelevement %} {{ demande.datePrelevement|format_datetime('EEEE d MMMM YYYY, HH:mm', locale, timezone)|title }} {% endif %} 
            <span class="pull-right"><i class="fa fa-remove"></i></span>
            </a>
            {% if is_granted('ROLE_DEBUG') %}
            <a href="#" data-toggle="tooltip" title="{{ demande|getDebugInfo }}" class="text-danger"><i class="fa fa-wrench"></i></a>
            {% endif %}
            </h4>
            {% endif %}
            <p class="list-group-item-text">
                <i class="fa fa-user fa-fw"></i>
                {{ demande.patient.nomComplet }}
                <br />
                <i class="fa fa-user-md fa-fw"></i>
                {{ demande.nomPrescripteur }}
                <br>
                {# Rewrite the query so that the chapitre data has a hadSelect('ch') #} {#<span class="fa fa-medkit fa-fw"></span> {{ demande.chapitres|join(', ') }}<br>#} 
                <i class="fa fa-home fa-fw"></i>
                {{ demande.etablissement.nom }}
                ,
                {{ demande.etablissement.ville }} - Téléphone : {{ demande.etablissement.telephone|formatPhoneNumberFr }}
            </p>
            <br />
            {% if resultats[demande.id] is defined and resultats[demande.id]|length > 0 %}
            <p>Les examens présents dans ce compte rendu :</p>
            <ul>
                {% for result in resultats[demande.id] %}
                <li>{{ result.libelle }}</li>
                {% endfor %}
            </ul>
            {% endif %}
            <br />
            <div class="text-right">
                <a class="btn btn-danger hidden-xs" href="{{ path('demande_delete_confirmation', {'demandeId':demande.id}) }}"> <i class="fa fa-trash"></i> Supprimer ce compte rendu...</a>
                <a class="btn btn-danger visible-xs btn-block" href="{{ path('demande_delete_confirmation', {'demandeId':demande.id}) }}"> <i class="fa fa-trash"></i> Supprimer ce compte rendu...</a>                
                {% if demande.etablissement.paiement and demande.etablissement.paiement.actif == TRUE and demande.paieSolde > 0 %}
                <a href="{{ path('paiement_confirm', {'demandeId':demande.id}) }}" class="btn btn-primary hidden-xs" class="btn btn-primary btn-sm"> <i class="fa fa-euro"></i> Payer en ligne</a>
                <a href="{{ path('paiement_confirm', {'demandeId':demande.id}) }}" class="btn btn-primary visible-xs" class="btn btn-primary btn-sm btn-block"> <i class="fa fa-euro"></i> Payer en ligne</a>
                <a href="{{ path('demande_download',{'demandeId':demande.id}) }}" class="piwik_download btn btn-primary hidden-xs"> <i class="fa fa-file-pdf-o"></i> Télécharger ce compte rendu</a>
                {% else %}
                <a href="{{ path('demande_download',{'demandeId':demande.id}) }}" class="piwik_download btn btn-primary hidden-xs"> <i class="fa fa-file-pdf-o"></i> Télécharger pour visualiser ce compte rendu</a>
                {% endif %}
                <a href="{{ path('demande_download',{'demandeId':demande.id}) }}" class="piwik_download btn btn-primary visible-xs btn-block"> <i class="fa fa-file-pdf-o"></i> Télécharger ce compte rendu</a>
            </div>
        </div>
    </div>
</div>
<br />
{% endif %}
{% endfor %}