<div class="hide" id="cookie-bar">
    <nav class="navbar navbar-default navbar-fixed-top navbar-cookie">
        <div class="container">
            <p class="navbar-text">
                Pour une utilisation optimale du site {{ app_name }}, 
                nous vous invitons à accepter l'usage des cookies dans les paramètres de votre navigateur.
            </p>
        </div>
    </nav>
</div>
<div class="layoutPublic logoPublic">
    <div class="login container-fluid">
        <div class="container">
            <section class="panel-primary">
                <div class="row">
                    {% if config.logoAlignement == 'left' %}
                    <div class="col-xs-4 text-left">
                        <a href="{{ path('default_index') }}" title="Aller à la page d'accueil" name="logo" id="link-logo-homepage"> {% image '%kernel.root_dir%/Resources/public/css/theme/%client_theme%/logo.png' %} <img alt="Logo du laboratoire" src="{{ asset_url }}" width=130> {% endimage %}
                        </a>
                    </div>
                    {% endif %}
                    
                    {% if not is_granted('IS_AUTHENTICATED_FULLY') %}
{#                     <div class="{% if config.logoAlignement == 'center' %}col-xs-push-4{% endif %}col-xs-8 hidden-xs text-right login-link">#}
{#                         <i class="fa fa-film"></i> <a href="{{ path('default_user_guide') }}" id="link-desktop-login">{{ 'agfa.hpa_bundle.include.top_public.desktop.link.user_guide'|trans }}</a>#}
{#                     </div>#}
{#                     <div class="{% if config.logoAlignement == 'center' %}col-xs-push-4{% endif %}col-xs-8 visible-xs text-right login-link">#}
{#                         <i class="fa fa-film"></i> <a href="{{ path('default_user_guide') }}" id="link-mobile-login">{{ 'agfa.hpa_bundle.include.top_public.mobile.link.user_guide'|trans }}</a>#}
{#                     </div>#}
{#                     {% else %}#}
                    <div class="{% if config.logoAlignement == 'center' %}col-xs-push-4{% endif %}col-xs-8 hidden-xs text-right login-link">
                        <i class="fa fa-film"></i> <a href="{{ path('default_create_account_guide') }}" id="link-desktop-login">{{ 'agfa.hpa_bundle.include.top_public.desktop.link.create_account_guide'|trans }}</a>
                    </div>
                    <div class="{% if config.logoAlignement == 'center' %}col-xs-push-4{% endif %}col-xs-8 visible-xs text-right login-link">
                        <i class="fa fa-film"></i> <a href="{{ path('default_create_account_guide') }}" id="link-mobile-login">{{ 'agfa.hpa_bundle.include.top_public.mobile.link.create_account_guide'|trans }}</a>
                    </div>
                    {% endif %}
                </div>
            </section>
        </div>
    </div>
    <div class="container">
        <section class="logo">
            <div class="row">
                <div class="col-xs-12{% if app.request.attributes.get('_route') == 'default_index' %} homepage{% endif %}">
                    {% if config.logoAlignement == 'center' %}
                    {% include('::logo.html.twig') %}
                    {% endif %}
                </div>
            </div>
        </section>
    </div>
</div>