<header {% if app.request.get('_route') != 'selection_personne' %} class="hidden-xs" {% endif %}>
    <div class="container">
        <div class="row">
            <div class="col-xs-12 text-{{ config.logoAlignement }}">
                {% include '::logo.html.twig' %}
            </div>
        </div>
    </div>
</header>
{% if app.request.get('_route') != 'selection_personne' %}
{# FIXME Cette condition ne devrait pas exister! Il faut rediriger les autres pages tant qu'une personne n'est pas sélectionner au lieu de cacher la misère. c.becker #}
<div class="menu-bar">
    <div class="container">
        <nav class="navbar navbar-default">
            <div class="navbar-header">
                <a href="{{ path('default_index') }}" class="navbar-brand visible-xs">{{ client_brand }}</a>
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Afficher/masquer navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span>
                </button>
            </div>
            <div id="navbar" class="collapse navbar-collapse">
                <!-- Partie de gauche -->
                <ul class="nav navbar-nav">
                    {% if personne_du_contexte is defined %}
                    <li id="lien-comptes-rendus"><a href="{{ path('demande_index_default') }}" title="{{ 'global.menu.comptes_rendus_title'|trans }}"><i class="fa fa-files-o"></i> {{ 'global.menu.comptes_rendus_item'|trans }}</a></li>
                    {% endif %}
                    <li><a href="{{ path('default_faq') }}"><i class="fa fa-info"></i> {{ 'global.menu.help'|trans }}</a></li> {#<li><a href="{{ path('uploads') }}">Documents</a></li>#}
                </ul>
                <!-- Partie de droite -->
                <ul class="nav navbar-nav navbar-right">
                    {% if app.user.personnes|length > 1 %}
                    <li><a id="personnesLabel" href="#" data-toggle="dropdown" aria-haspopup="true" role="button" aria-expanded="false"> <span class="fa fa-user"></span> {% if personne_du_contexte %} {{ personne_du_contexte.nomComplet }} 
                    {% if menu_personne_data.has_unread %} <i class="fa fa-exclamation-triangle text-warning"></i> {% endif %} {% else %} Personnes {% endif %} <span class="caret"></span>
                    </a>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="personnesLabel">
                            <li role="presentation" class="dropdown-header">{{ 'global.menu.changer_personne_header'|trans }}</li>
                            {% for personne in menu_personne_data.menu_personnes_data %}
                            <li role="presentation">
                                 <a class="personnes" role="menuitem" href="{{ path('default_switch_personne',{personneId:personne.personneId}) }}"> 
                                 {% if personne.total_unread is defined %}<span class="badge badge-warning pull-right">{{ personne.total_unread }} {{ '{1}nouveau|]1,Inf[nouveaux'|transchoice(personne.total_unread) }}</span> {% endif %} 
                                 <span class="dropdown-link-text">{{ personne.fullname }}</span>&nbsp;</a>
                            </li>
                            {% endfor %}
                        </ul></li>
                    {% endif %}                    
                    <li><a id="configuration" href="#" data-toggle="dropdown" aria-haspopup="true" role="button" aria-expanded="false"> <span class="fa fa-cog"></span> Compte 
                        {% if nb_unpaid_demandes > 0 %}<i class="fa fa-exclamation-triangle text-warning"></i>{% endif %}
                        <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="configuration">
                            <li role="presentation" class="dropdown-header">Paramétrage</li>
                            <li><a role="menuitem" href="{{ path('configuration_account') }}">{{ 'global.menu.settings.account'|trans }}</a></li>
                            {% if app.user.personnes|length > 1 %}
                            <li><a role="menuitem" href="{{ path('personne_index') }}">{{ 'global.menu.settings.person'|trans }}</a></li>
                            {% endif %}
                            <li><a role="menuitem" href="{{ path('configuration_securite') }}">{{ 'global.menu.settings.security'|trans }}</a></li>
                            {% if app.user.paymentIsEnabled %}
                            <li role="separator" class="divider"></li>
                            <li role="presentation" class="dropdown-header">{{ 'global.menu.payment'|trans }}</li>
                            <li {% if nb_unpaid_demandes > 0 %}class="highlighted"{% endif %}><a role="menuitem" href="{{ path('paiement_attente') }}">{{ 'global.menu.payment.due'|transchoice(nb_unpaid_demandes, {'%nbUnpaidDemandes%':nb_unpaid_demandes}) }}</a></li>
                            <li><a role="menuitem" href="{{ path('paiement_historique') }}">{{ 'global.menu.payment.history'|trans }}</a></li>
                            {% endif %}
                            {% if is_granted('ROLE_LABO') %}
                            <li role="separator" class="divider"></li>
                            <li role="presentation" class="dropdown-header">Administration</li>
                            {% if is_granted('ROLE_SUPPORT') %}<li role="presentation"><a href="{{ path('admin_configuration_show') }}">Configuration du site</a></li>{% endif %}
                            <li role="presentation"><a href="{{ path('admin_user') }}">Comptes utilisateurs</a></li>
                            <li role="presentation"><a href="{{ path('admin_demande_search') }}">Détails d'un compte rendu</a></li>
                            {% endif %}
                            {% if is_granted('ROLE_ADMIN') and app.environment == 'dev' %}
                            <li role="separator" class="divider"></li>
                            <li role="presentation" class="dropdown-header">Tests</li>
                            <li><a href="{{ path('default_cr_new') }}">Réception CR auto.</a></li>
                            <li><a href="{{ path('default_cr_update_partial') }}">MAJ solde et affichage CR</a></li>
                            <li><a href="{{ path('default_cr_delete') }}">Suppression CR auto.</a></li>
                            <li><a href="{{ path('default_ej_update') }}">MAJ entité juridique</a></li>
                            {% endif %}
                        </ul></li>
                    {% if personne_du_contexte is defined %}
                    {# <li><a href="#" onclick="AGFA.modules.Help.start()"><span class="fa fa-question-circle"></span> {{ 'global.menu.help'|trans }}</a></li> #}
                    <li><a href="{{ path('recherche_demande') }}" id="lien-recherche"><span class="fa fa-search"></span> {{ 'global.menu.search'|trans }}</a></li>
                    {% endif %}
                    <li><a href="{{ path('fos_user_security_logout') }}" title=""><i class="fa fa-sign-out"></i> {{ 'global.menu.exit'|trans }}</a></li>
                    {% if is_granted('ROLE_PREVIOUS_ADMIN') %}
                    <li class="warning"><a href="{{ path('admin_user',{'_wannabe':'_exit', 'searchTerms': app.user.email|url_encode}) }}"><i class="fa fa-sign-out"></i> {{ app.user }}</a></li>  
                    {% endif %}                  
                </ul>
            </div>
        </nav>
    </div>
</div>
{% endif %}