
$primaryColor: #fe9c05
$secondaryColor: #4885b8
$ternaryColor: #FAFAFA
$darkGrey: #666
$white: #fff
$darkOrange:  #DE3C20

/* ELEMENTS */

$publicHeaderBg: $white 
$publicHeaderText: $primaryColor
$publicHeaderIcon: $secondaryColor
$publicHeaderBorder: $primaryColor

$publicLogoBg: transparent
$publicLogoBgPage: transparent
$publicPanelBorder: $secondaryColor

$pageBg: transparent
$bodyBg: $ternaryColor
$breadcrumbBg: darken($bodyBg, 3%)
$text: $darkGrey
$links: $primaryColor
$titleH1: $text
$titleH2: $text
$titleH3: $text

$headerBg: $white

$footerBg: $ternaryColor
$footerText: $text
$footerLink: $primaryColor
$footerLinkHover: darken($footerLink, 30%)
$footerBorder: darken($bodyBg, 8%)

$menuBg: $primaryColor
$menuBgSides: $primaryColor
$menuText: $ternaryColor
$menuTextMobile: $white

$dropdownMenuText: $text
$dropdownMenuHeaderDesktop: $primaryColor
$dropdownMenuHeaderMobile: $darkOrange

@import "../base"

/* CODE PERSONNALISE CI-DESSOUS... */
.text-warning
    color: $darkOrange

.login-link
    padding-top: 5px

@font-face
    font-family: 'Hind'
    src: url('../../fonts/Hind-Regular.ttf')

body *
    font-family: 'Hind'

img.logo
    max-width: 350px
    
// Update colours of elements so to use colours defined in theme
.reports-list-right .col-md-4, .reports-list-right a .col-md-4
    background-color: $primaryColor
.reports-list-right .col-md-4:hover, .reports-list-right a .col-md-4:hover
    background-color: darken($primaryColor, 10)
    
.btn-primary
    &:focus, &:active, &:hover,&:focus:active
        background-color: darken($primaryColor, 10)
        border-color: darken($primaryColor, 20)
    
@media only screen and (max-width : 480px)
    img.logo
        max-width: 250px
    .logo
        margin-top: 10px
        padding-top: 10px
        margin-bottom: 0
        padding-bottom: 0
        