{% extends '::layout-private.html.twig' %}
{% block titlePage %}
{{ 'agfa.web_bundle.configuration.securite.title_page' | trans }}
{% endblock %}
{% block breadcrumb %}
<li><a href="{{ path('default_index') }}">{{ 'agfa.breadcrumb.accueil'|trans }}</a></li>
<li class="active">{{ 'agfa.breadcrumb.account'|trans }}</li>
{% endblock %}
{% block body %}

<div class="row">
    <div class="col-md-4 col-md-push-4">
        <div class="panel panel-danger">
            <div class="panel-heading">
                <h3 class="panel-title">Supprimer mon compte - <strong>Attention !</strong></h3>
            </div>
            <div class="panel-body">
                <div class="form-group">
                    <p class="form-control-static">
                        Cette action va complètement effacer votre compte et toutes vos données. 
                    <strong>Elle est irréversible.</strong></p>
                    <hr />
                    {{ form_start(deleteForm, {'attr':{'autocomplete':'off'}}) }}
                    {{ form_row(deleteForm.password) }}
                    <br />
                    <div class="text-right"><button type="submit" class="btn btn-danger btn-md btn-block">Supprimer mon compte définitivement</button></div>
                    {{ form_end(deleteForm) }}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
