{% extends '::layout-private.html.twig' %}
{% block titlePage %}
{{ 'agfa.web_bundle.configuration.securite.title_page' | trans }}
{% endblock %}
{% block breadcrumb %}
<li><a href="{{ path('default_index') }}">{{ 'agfa.breadcrumb.accueil'|trans }}</a></li>
<li class="active">{{ 'agfa.breadcrumb.account'|trans }}</li>
{% endblock %}
{% block body %}
<div class="row">
    <div class="col-md-4 col-md-push-1">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Mon compte</h3>
            </div>
            <div class="panel-body">
                <div class="form-group">
                    <label>Adresse email</label>
                    <p class="form-control-static">
                        {{ app.user.email }}
                        <a href="{{ path('fos_user_profile_edit') }}" class="pull-right">Modifier</a>
                    </p>
                    <label>Mot de passe</label>
                    <p class="form-control-static">
                        ******** <a href="{{ path('fos_user_change_password') }}" class="pull-right">Modifier</a>
                    </p>
                    <br />
                    <div class="text-right">
                        <a href="{{ path('configuration_account_delete') }}" class="btn btn-danger"><i class="fa fa-trash"></i> Effacer mon
                            compte...</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-md-push-1">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Ajouter un patient à votre compte</h3>
            </div>
            <div class="panel-body">
                {% include ':Enrolement:form-accueil.html.twig' %}
            </div>
        </div>
    </div>
    {# <div class="col-md-8 "> <div class="panel panel-default"> <div class="panel-heading"> <h3 class="panel-title">Liste des liaisons - EXEMPLE</h3>
    </div> <div class="panel-body"> <p><em>La liste des laboratoires ci-dessous sont connectés à votre compte et vous permette de recevoir vos comptes
    rendus automatiquement.</em></p> <table class="table table-striped table-hover table-bordered table-condensed table-responsive"> <thead> <tr>
    <th>Labo</th> <th>Identifiant</th> <th>Lié le</th> <th></th> </tr> </thead> <tbody> <tr> <td>Laboratoire Unilabs</td> <td>B123456788</td>
    <td>20/02/2002</td> <td><a href="#" class="btn btn-default btn-xs"><i class="fa fa-cog"></i> Actions</a></td> </tr> </tbody> </table> </div>
    </div> </div>#}
</div>
{% endblock %}