{% extends '::layout-private.html.twig' %}
{% block titlePage %}
{{ 'agfa.web_bundle.configuration.securite.title_page' | trans }}
{% endblock %}
{% block breadcrumb %}
<li><a href="{{ path('default_index') }}">
        {{ 'agfa.breadcrumb.accueil'|trans }}
    </a></li>
<li class="active">{{ 'agfa.breadcrumb.securite'|trans }}</li>
{% endblock %}
{% block body %}
{% if auth_forte %}
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Appareils autorisés</h3>
    </div>
    <div class="panel-body">
        {% if trusted_computers|length > 0 %}
        <p>
            <em>Vous pouvez vous connecter à votre compte via les appareils listés ci-dessous sans que vous n'ayez à valider votre accès via un code de sécurité envoyé à votre adresse de courriel. Ces autorisations sont révocables à tout moment.</em>
        </p>
        <table class="table table-striped table-hover table-condensed table-responsive">
            <thead>
                <tr>
                    <th></th>
                    <th>Dernière connexion</th>
                    <th class="hidden-xs">Limite de validité</th>
                    <th>Appareil</th>
                    <th>Adresse IP</th>
                    <th>Révoquer</th>
                </tr>
            </thead>
            <tbody>
                {% for trusted_computer in trusted_computers %}
                <tr data-token="{{ trusted_computer['token'] }}">
                    <td class="text-center">
                        {% if trusted_computer['current-user'] %}
                        <a href="#" data-toggle="tooltip" title="Votre ordinateur / portable / tablette actuel(le)">
                            <i class="fa fa-arrow-right"></i>
                        </a>
                        {% endif %}
                    </td>
                    <td>
                        <span class="visible-xs">{{ trusted_computer['last-login']|format_datetime('dd/MM/yy HH:mm', locale, timezone) }}</span> <span class="hidden-xs">{{ trusted_computer['last-login']|format_datetime(null, locale, timezone, constant('IntlDateFormatter::LONG'), constant('IntlDateFormatter::SHORT')) }}</span>
                    </td>
                    <td class="hidden-xs">
                        {{ trusted_computer['valid-until']|format_datetime(null, locale, timezone, constant('IntlDateFormatter::LONG'), constant('IntlDateFormatter::SHORT')) }}
                    </td>
                    <td>
                        {{ trusted_computer['hardware'] }}
                        <br>
                        {{ trusted_computer['software'] }}
                    </td>
                    <td>
                        {{ trusted_computer['ip'] }}
                    </td>
                    {#<td><button class="btn btn-link btn-remove-trusted-computer"><i class="fa fa-remove"></i></button>#}
                    <td>
                        <button class="btn btn-sm btn-danger btn-remove-trusted-computer">
                            <i class="fa fa-remove"></i>
                        </button>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
        <div class="alert alert-info">Vous n'avez pour le moment pas autorisé d'appareil (ordinateur, téléphone portable, tablette) à accéder à votre compte sans qu'une demande de code d'authentification ne soit envoyée à votre adresse email.</div>
        {% endif %}
    </div>
</div>
{% endif %}
{% if authentications|length > 0 %}
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Dernières connexions</h3>
    </div>
    <div class="panel-body">
        <p>
            <em>La liste ci-dessous représente les accès récents à votre compte. Si vous constatez des accès qui ne semblent pas être les votres, dans un premier temps, modifier votre mot de passe. Si les accès inconnus persistent, merci de
                prendre contact avec votre laboratoire afin de les signaler au plus vite.</em>
        </p>
        <table class="table table-striped table-hover table-condensed table-responsive">
            <thead>
                <tr>
                    <th>Date de connexion</th>
                    <th>Appareil</th>
                    <th>Adresse IP</th>
                </tr>
            </thead>
            <tbody>
                {% for authentication in authentications %}
                <tr>
                    <td>
                        {{ authentication.createdAt|format_datetime(null, locale, timezone, constant('IntlDateFormatter::LONG'), constant('IntlDateFormatter::SHORT')) }}
                    </td>
                    <td>
                        {% if authentication.longDescription.user_agent is defined %}
                        {{ '%s, %s'|format(authentication.longDescription.user_agent.software, authentication.longDescription.user_agent.hardware) }}
                        {% endif %}
                    </td>
                    <td>
                        {{ authentication.ipAddress }}
                        {% if authentication.ipAddress == app.request.server.get("REMOTE_ADDR") %}
                        (votre IP actuelle)
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endif %}
{% endblock %}