{% extends ':Enrolement:enrolement.html.twig' %}
{% block form %}
{{ form_start(form, {'attr':{'novalidate':'novalidate'}}) }}
<fieldset>
    <legend>Saisissez vos identifiants</legend>
    {{ form_widget(form, {'attr':{'autofocus':'true', 'autofocus':'true'}}) }}
</fieldset>
<br />
<div class="text-right">
    <input type="submit" class="btn btn-primary" value="Ajouter le compte rendu">
    <a href="{{ path('default_index') }}" class="btn btn-default">Annuler</a>
</div>
{{ form_end(form) }}
{% endblock %}