{% extends "::layout-public.html.twig" %}
{% block titlePage %}
{{ 'agfa.hpa_bundle.enrolment.consultation_directe.title_page' | trans }}
{% endblock %}
{% block body %}
<div class="row">
    <div class="col-md-6 col-md-push-3">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">{{ 'agfa.hpa_bundle.enrolment.consultation_directe.title_h1' | trans }}</h3>
            </div>
            <div class="panel-body">
                <p>
                {% if config.lastPatientsRecordOnlyMssg %}
                    Accèdez directement à votre dernier résultat d'analyses. 
                {% else %}
                    Accèdez directement à vos résultats d'analyses.
                {% endif %}
                <strong>L'historique de vos analyses ne sera pas conservé en ligne</strong>.
                </p>
                <p>Saisissez simplement ci-dessous les identifiants de connexion qui vous ont été transmis par votre Laboratoire.</p>
                {{ form_start(form, {'attr':{'novalidate':'novalidate'}}) }}
                {% if form.vars.errors|length %}
                <div class="alert alert-danger">
                    {{ form_errors(form) }}
                </div>
                {% endif %}
                <div class="well">
                    {{ form_row(form.login, {'attr':{'autofocus':'true'}}) }}
                    <br />
                    {{ form_row(form.password) }}
                    <br />
                    <div class="text-right">
                        <input type="submit" class="btn btn-primary" value="Consulter mes résultats">
                        <a class="btn btn-link" href="{{ path('default_index') }}">Annuler</a>
                    </div>
                    {{ form_rest(form) }}
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
