{% extends '::layout-private.html.twig' %}
{% block titleH1 %}
Ajouter un compte rendu
{% endblock %}
{% block breadcrumb %}
<li><a href="{{ path('default_index') }}">Accueil</a></li>
<li class="active">Récupérer un compte rendu</li>
{% endblock %}
{% block body %}
<div class="row">
    <div class="col-sm-6 col-sm-push-3">
        <div class="panel panel-default">
            <div class="panel-body">
                {{ block('form') }}
            </div>
        </div>
    </div>
</div>
{% endblock %}