<p>Si vous voulez recevoir les comptes rendu d'un de vos proches, saisissez ici les identifiants de connexion qui vous ont été remis par votre Laboratoire.</p>
{# <p>#}
{#     <button class="btn btn-default" data-toggle="collapse" href="#enrolementForm" aria-expanded="false" aria-controls="enrolementForm" id="test">Récupérer un compte rendu</button>#}
{# </p>#}
<div class="collapse in" id="enrolementForm">
    {{ form_start(form, {'attr':{'autocomplete':'false', 'novalidate':'novalidate'}}) }}
    {{ form_row(form.login, {'attr':{'autofocus':'true'}}) }}
    <br />
    <label class="control-label required" for="enrolement_password">Date de naissance</label>
    {{ form_widget(form.password) }}
    <br />
    <div class="text-right">
        <button type="submit" class="btn btn-primary" id="enrol">Me connecter</button>
    </div>
    {{ form_end(form) }}
</div>
