{% extends '::layout-private.html.twig' %}
{% block titleH1 %}Documents personnels{% endblock %}

{% block breadcrumb %}
  <li><a href="{{ path('default_index') }}">{{ personne_du_contexte.prenom }}</a></li>
  <li class="active">Déposer un nouveau document</li>
{% endblock %}

{% block body %}
<div class="row">
    <div class="col-md-8">
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <input type="submit" class="btn btn-primary" value="Valider">
    {{ form_end(form) }}
    </div>
</div>
{% endblock %}