{% extends '::layout-private.html.twig' %}
{% block titleH1 %}Documents personnels{% endblock %}

{% block breadcrumb %}
  <li><a href="{{ path('default_index') }}">{{ personne_du_contexte.prenom }}</a></li>
  <li class="active">Documents personnels</li>
{% endblock %}

{% block body %}
<div class="row">
    <div class="col-md-8">
    <table class="table table-striped uploads">
        <thead>
            <tr>
                <th>Description</th>
                <th>Ajout</th>
                <th>Taille</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for upload in personne_du_contexte.uploads %}
            <tr>
                <td>
                    <span class="fa fa-{{ service_uploads.icon(upload.mimetype) }} fa-2x file-icon"></span>
                    <a href="{{ path('upload_download',{id:upload.id,filename:upload.filename|url_encode}) }}">{{ upload.description }}</a>
                    <a class="action-icon" href="#"><span class="fa fa-pencil"></span></a>
                </td>
                <td>
                    {{ upload.dateCreation|date('d/m/Y') }}
                </td>
                <td>
                    {{ service_uploads.humanReadableSize(upload.filesize) }}
                </td>
                <td>
                    <a class="action-icon text-danger" href="#"><span class="fa fa-trash"></span></a>
            </tr>
        {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <th>Total</th>
                <th></th>
                <th>{{ service_uploads.humanReadableSize(service_uploads.totalFilesizeForPersonne(personne_du_contexte)) }}</th>
                <th></th>
            </tr>
        </tfoot>
    </table>
    </div>
    <div class="col-md-4">
        <div class="well">
            <h4>Ajouter un nouveau document</h4>
            {{ form_start(form) }}
            {{ form_widget(form) }}
            <input type="submit" class="btn btn-primary" value="Valider">
            {{ form_end(form) }}
        </div>
    </div>
</div>
{% endblock %}