<p>Bonjour,</p>

<p>Nous avons détecté une tentative d'accès à votre compte avec au moins {{ maxLoginAttempts }} échecs consécutifs. En conséquence et afin de protéger vos données,
votre compte a été temporairement désactivé.</p>

<p>Vous pouvez dévérrouiller votre compte en vous rendant sur le lien suivant : <br />
{{ confirmationUrl }}</p>

<p>Dans le cas ou vous auriez oublié votre mot de passe, vous pouvez effectuer une demande de ré-initialisation à l'adresse suivante : <br />
{{ absolute_url(path('fos_user_resetting_request')) }}</p>

<p>Cordialement,</p>

<p>{{ client_brand }} <br />
{{ app_name }}</p>

