/* Colors */
$noir: #000
$blanc: #fff
$bleu: #6095C1
$vert: #76923b
$orange: #FF8C00

/**
 * Bootstrap
 */
.badge.badge-danger
  background-color: red
  color: $blanc
.badge.badge-warning
  background-color: darkorange
  color: $blanc
.badge.badge-primary
  background-color: $bleu
  color: $blanc
.text-warning
  color: orange
.tooltip-inner 
  white-space: pre-wrap

.panel-default>.panel-heading, .panel-default>.panel-footer
  background-color: #fff
  border-top: none
  .link-only
    margin-top: 5px
    position: absolute
.panel-default>.panel-heading
  border-bottom-color: #eee
.panel-default>.panel-heading>.panel-title
  font-size: 1.6em
  color: #666666
  padding-top: 6px

.panel-login>.panel-body
  min-height: 200px
.panel-login ul
  padding-left: 20px
  list-style: none
  li:before
    content: "\f054"
    font-family: FontAwesome
    display: inline-block
    margin-left: -1.3em
    margin-top: 3px
    width: 1.3em
  
/***
 * Global
 */
.container
  padding-top: 0
  padding-bottom: 0
  section
    padding-bottom: 10px
.full-overlay
  position: absolute
  top: 0
  bottom: 0
  left: 0
  right: 0
  background-color: $noir
  opacity: 0

.tooltip.in
  opacity: 1

.tooltip-inner
  padding: 2px

.tooltip-inner-content
  padding: 5px 10px
  font-size: 14px
  background-color: white
  color: black
  border: 1px solid black

div.silhouette
  text-align: center

span.silhouette
  font-size: 12em
  color: #6095c1
  
.liste-selection-personne
  cursor: pointer
  &:hover
    background-color: #eee
    
.text-center
  margin-left: auto
  margin-right: auto
  
.form-icon-tooltip
  margin-top: 7px
  padding-left: 0
  
form, .form-group, #form
  display: inline
  
.navbar-toggle
  margin-right: 8px
  
.navbar-cookie
  background-color: red
  .navbar-text
    color: #fff

#cookie-bar
  margin-bottom: 50px

.logo-agfa
  width: 70px
  margin-bottom: 10px

/***
 * Homepage 
 */
div.layoutPublic
  .hero-icon
    font-size: 100px
    position: absolute
    left: 0
    right: 0
    top: 0
    bottom: 0
    margin: auto
    overflow: auto
    height: 150px
    line-height: 150px
    width: 150px
    text-align: center
  
  .panel-register
    border-color: $bleu 
    min-height: 250px
    vertical-align: middle
    .hero-icon
      color: #eff5f9
  
  .panel-direct
    border-color: $vert 
    min-height: 250px
    .hero-icon
      color: #f1f4eb 
  
  .panel
    position: relative
    padding: 15px
  
  .panel-body
    min-height: 250px
    text-align: center
    font-size: 150%
    display: table
  
  .hero-content
    display: table-cell
    vertical-align: middle
    width: 100%
    z-index: 1
    position: relative
  

  .container-fluid
    &.login
      font-size: 20px
      padding: 20px
      border-bottom-width: 1px
      border-bottom-style: solid

  .login-link>a
    text-transform: uppercase 
  
  

  
  
div.homepage .logo
  padding-top: 15px
  padding-bottom: 15px

.logo
  padding-top: 20px
  padding-bottom: 20px
  
/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px)

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px)
  div.homepage .logo
    margin-top: 70px
    margin-bottom: 70px
  .homepage-spacer
    padding: 150px 0 100px 0

/* Small Devices, Tablets */
@media only screen and (min-width : 768px)
  
/* Extra Small Devices, Phones */ 
@media only screen and (max-width : 480px)
  .logo
    margin-top: 10px
    margin-bottom: 10px
  span.silhouette
    font-size: 8em
    
/* Custom, iPhone Retina */ 
@media only screen and (max-width : 320px)
  span.silhouette
    font-size: 6em

/**
 * Form
 */
.input-group-btn .btn
  padding-bottom: 7px

/**
 * Navbar
 */
.menu-bar
  .navbar
    margin-bottom: 0
    padding-bottom: 0
  .navbar-default
    border: none
.dropdown-link-text
  display: inline-block
  margin-right: 20px
.dropdown-menu > li > a.personnes
  width: 100%
  margin-right: 80px

/**
 * GUI
 */
.clickme
  cursor: pointer
.col-left-border
  padding-left: 15px 
  border-left: 1px solid #eee
  
/**
 * List of results
 */
.reports-list-left, .reports-list-right>.col-md-4, .reports-list-left-sm
  padding-top: 10px
  padding-bottom: 10px
  margin-top: 15px
  
.reports-list-left-high, .reports-list-right-high>.col-md-4
  height: 155px
  
.reports-list-left-higher, .reports-list-right-higher>.col-md-4
  height: 210px
  
.reports-list-details
  padding-top: 10px
  padding-bottom: 10px

.contentReportSecondary, .contentReportSecondarySm
  padding-top: 10px
  padding-bottom: 10px
  margin-top: 15px
  background-color: white
  border: solid #ddd
  border-width: 1px
  border-radius: 5px
  color: #666
  box-shadow: 10px 10px 18px #555
  &:hover
    background-color: #eee
    cursor: pointer
  
.reports-list-left, .reports-list-left-sm
  background-color: white
  border: solid #ddd
  border-width: 1px 0 1px 1px
  border-radius: 5px 0 0 5px
  color: #666
  &:hover
    background-color: #eee
    cursor: pointer
  .col-md-6
    padding-bottom: 5px
    
.reports-list-left-sm
  border-right: 1px solid #ddd
  border-radius: 5px

.reports-list-right, .reports-list-right a
  text-align: center
  color: white
  .col-md-4
    background-color: $orange
    border-radius: 0 5px 5px 0
    &:hover
      background-color: darken($orange, 10%)
      color: white

.cr-read-short, .cr-read-extended
  border: 1px solid #ddd
  border-radius: 5px
  padding: 10px
  background-color: #fff
  color: #666
  &:hover
    cursor: pointer
.cr-read-extended
  box-shadow: 10px 10px 18px #555
  &:hover
    cursor: pointer

/* Menu highlights */
li.highlighted
  background-color: $orange
  a
    color: white !important
  a:hover
    background-color: darken($orange, 10%)

  