{% extends '::layout-private.html.twig' %}
{% block titleH1 %}
{% if assign %}
{{ 'agfa.hpa_bundle.patient.assign.title_h1'|trans }}
{% else %}
{{ 'agfa.hpa_bundle.patient.reassign.title_h1'|trans }}
{% endif %}
{% endblock %}
{% block titlePage %}
{% if assign %}
{{ 'agfa.hpa_bundle.patient.assign.title_page'|trans }}
{% else %}
{{ 'agfa.hpa_bundle.patient.reassign.title_page'|trans }}
{% endif %}
{% endblock %}
{% block breadcrumb %}
<li><a href="{{ path('default_index') }}">
        {{ 'global.accueil'|trans }}
    </a></li>
{% if assign %}
<li class="active">{{ 'agfa.hpa_bundle.patient.assign.title_h1'|trans }}</li>
{% else %}
<li class="active">{{ 'agfa.hpa_bundle.patient.reassign.title_h1'|trans }}</li>
{% endif %}
{% endblock %}
{% block body %}
{% if assign %}
<div class="alert alert-success">
    {{ 'agfa.hpa_bundle.patient.assign.alert.help'|trans }}
</div>
{% endif %}
<div class="row">
    <div class="col-md-12">
        <div id="accordion">
            <p class="text-right">
                <a data-toggle="collapse" href="#no-security-code" data-parent="#accordion">
                    <i class="fa fa-info-circle"></i>
                    {{ 'agfa.hpa_bundle.patient.assign.contextual_help.title'|trans|raw }}
                </a>
            </p>
            <div id="no-security-code" class="collapse well well-warning">
                {{ 'agfa.hpa_bundle.patient.assign.contextual_help.body'|trans({'%app_name%':app_name})|raw }}
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">{{ 'agfa.hpa_bundle.patient.assign.panel_a.title'|trans }}</h3>
            </div>
            <div class="panel-body">
                <form class="form-horizontal">
                    <div class="form-group">
                        <label class="col-sm-4 control-label">{{ 'agfa.hpa_bundle.patient.assign.form.label.nom'|trans }}</label>
                        <div class="col-sm-8">
                            <p class="form-control-static">
                                {{ patient.nom }}
                            </p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label">{{ 'agfa.hpa_bundle.patient.assign.form.label.prenom'|trans }}</label>
                        <div class="col-sm-8">
                            <p class="form-control-static">
                                {{ patient.prenom }}
                            </p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label">{{ 'agfa.hpa_bundle.patient.assign.form.label.datenaiss'|trans }}</label>
                        <div class="col-sm-8">
                            <p class="form-control-static">
                                {{ patient.dateNaissance|format_date(null, locale, timezone) }}
                            </p>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">{{ 'agfa.hpa_bundle.patient.assign.panel_b.title'|trans }}</h3>
            </div>
            <div class="panel-body">
                {{ form_start(form) }}
                {{ form_widget(form) }}
                <div class="text-right">
                    <input type="submit" class="btn btn-primary" value="Affecter">
                    <a href="{{ path('personne_index') }}" class="btn btn-default">Annuler</a>
                </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
</div>
{% endblock %}