{% extends '::layout-private.html.twig' %}
{% block body %}
<br />
<br />
<br />
<div class="row">
    <div class="col-md-4 col-md-push-4">
        <div class="panel panel-default">
            <div class="panel-body text-center">
                <p>
                    {{ 'agfa.hpa_bundle.patient.delete_confirmation.confirmation'|transchoice(patient.demandes|length, {'%patient_name%':patient})|raw }}
                </p>
                <hr />
                <p><i class="fa fa-exclamation-triangle text-warning"></i> {{ 'agfa.hpa_bundle.patient.delete_confirmation.confirmation.end'|trans }}</p>
                <br />
                <p>
                    {{ form(deleteForm) }}
                    <a href="{{ path('personne_index') }}" type="button" class="btn btn-link">Annuler</a>
                </p>
            </div>
        </div>
    </div>
</div>
{% endblock %}