{% trans_default_domain 'FOSUserBundle' %}

{{ form_start(form, { 'action': path('fos_user_profile_edit'), 'attr': { 'class': 'fos_user_profile_edit' } }) }}

{{ form_errors(form) }}
    {{ form_row(form.email) }}
    <br />
    {{ form_row(form.current_password) }}
    <br />
    <div class="text-right">
        <button class="btn btn-primary" type="submit">
            {{ 'profile.edit.submit'|trans }}
        </button>
        <a href="{{ path('configuration_account') }}" class="btn btn-default">Annuler</a>
    </div>
{{ form_end(form) }}

