<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8" />
	<title>Activation de compte</title>
</head>
<body>
    <p>Bonjour,</p>
	<p>Un opérateur vient d'activer votre compte sur <a href="{{ url('default_index') }}">{{ url('default_index') }}</a>.
    Vous pouvez donc maintenant accèder à ce dernier.</p>
    <p>Cordialement,<br />
    L'équipe <a href="{{ app_name }}">{{ app_name }}</a>.</p>
</body> 
</html>