{% extends "::security.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block form %}
<p>Votre compte n'est pas en attente de confirmation de l'adresse e-mail.</p>
<p>Si vous avez oublié votre mot de passe, <a href="{{ path('fos_user_resetting_request') }}">cliquez ici</a>, sinon connectez-vous directement en <a href="{{ path('fos_user_security_login') }}">cliquant ici</a>.</p> 
{% endblock %}
